interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="c5b90134-a908-4b4a-9ffe-4c21ef535084"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1997-11-05
        05:22:26</controlid><uniqueid>true</uniqueid><dtdversion>6420657741.46445</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1993-02-03T16:24:05+00:00</sessiontimestamp><sessiontimeout>1999-10-21T01:29:52+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-sGmaGwuDawENA</function><controlid>-Fallback-scrubbed-dtQPuAARqimHbOurwCEbvvIzxFjOGKRHiuPQ</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.03'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="7dfa5f3d-8021-4a39-85b8-1aa8b4e31caa"><query><object>APBILL</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>06/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1997-11-05
        05:22:26</controlid><uniqueid>true</uniqueid><dtdversion>6420657741.46445</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1992-08-03T23:11:37+00:00</sessiontimestamp><sessiontimeout>1988-08-05T19:28:59+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-zReKK</function><controlid>-Fallback-scrubbed-oyUFDLoODdladwTNFpvuRrDCbGrOmYFqREex</controlid><data
        listtype="-Fallback-scrubbed-WwjFDj" totalcount="2" offset="6324" count="8984"
        numremaining="8984"><APBILL><RECORDNO>1911</RECORDNO></APBILL></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
