interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="85a201ee-2ebc-40f9-ba8e-3438407b5319"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2012-04-24
        11:56:00</controlid><uniqueid>false</uniqueid><dtdversion>-22702913.6273967</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1991-04-08T05:28:51+00:00</sessiontimestamp><sessiontimeout>1971-11-04T04:03:16+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-AEusBAtKHMQpJ</function><controlid>-Fallback-scrubbed-YpcGcUxlvoeWUjTeUwqZOqfWJJszqEOTTrQK</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="abadde70-022d-401c-86bb-e8afd412da4c"><query><object>APBILL</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>06/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2012-04-24
        11:56:00</controlid><uniqueid>false</uniqueid><dtdversion>-22702913.6273967</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1999-09-23T13:16:09+00:00</sessiontimestamp><sessiontimeout>2018-09-19T11:26:39+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-mETII</function><controlid>-Fallback-scrubbed-foPwlxTEUBvHTKfQWTWUhIqbANAlzhGQJMvq</controlid><data
        listtype="-Fallback-scrubbed-zUScFA" totalcount="2" offset="5459" count="4994"
        numremaining="4994"><APBILL><RECORDNO>1911</RECORDNO></APBILL></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
