interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="cf69255e-2c44-45ad-aab7-6841e17bc02e"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2013-04-05
        16:40:47</controlid><uniqueid>false</uniqueid><dtdversion>-30692880506.915</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1993-08-28T04:56:31+00:00</sessiontimestamp><sessiontimeout>1973-05-22T19:53:50+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-DQcCZnILrxXdr</function><controlid>-Fallback-scrubbed-qRFXeaGgBGsfMvnVubWnMJwpWLlywJLTcJYI</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="c65d6501-86d7-4afb-b55a-bca2c930de4b"><query><object>ARINVOICEITEM</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>06/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2013-04-05
        16:40:47</controlid><uniqueid>false</uniqueid><dtdversion>-30692880506.915</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2023-12-17T03:54:57+00:00</sessiontimestamp><sessiontimeout>2015-03-01T12:56:00+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-OTwYn</function><controlid>-Fallback-scrubbed-hmiXDcCDQooqMhHATIGKbvvGhBMYRhANXsmr</controlid><data
        listtype="-Fallback-scrubbed-vuujHdujMDkEQ" totalcount="16" offset="4108"
        count="3115" numremaining="5863"><ARINVOICEITEM><RECORDNO>27289</RECORDNO></ARINVOICEITEM></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
[...]
