interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="0cf6dd44-0a9e-42d9-b70f-55a288fc6f22"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2010-10-11
        13:06:03</controlid><uniqueid>true</uniqueid><dtdversion>5003777031.98038</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2001-07-27T10:06:19+00:00</sessiontimestamp><sessiontimeout>1987-12-28T15:35:44+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-kMdcxujJAwapq</function><controlid>-Fallback-scrubbed-GBFROQSrxDdncGQmkWuHCqJkCHZRlZVLvZph</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="fecbb4e1-5629-4268-8dda-9f523124cf97"><query><object>ARINVOICEITEM</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>06/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2010-10-11
        13:06:03</controlid><uniqueid>true</uniqueid><dtdversion>5003777031.98038</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2001-07-27T10:06:19+00:00</sessiontimestamp><sessiontimeout>1987-12-28T15:35:44+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-RITWx</function><controlid>-Fallback-scrubbed-PpajawDLPmlmWsnfbOOIDTdDhAYHQuUKwEVs</controlid><data
        listtype="-Fallback-scrubbed-HshdfqtRaZQLV" totalcount="16" offset="4247"
        count="1171" numremaining="4535"><ARINVOICEITEM><RECORDNO>27289</RECORDNO></ARINVOICEITEM></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
