interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="c9971126-2ed7-47f2-9eb9-c9df8ec412bb"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1993-06-01
        09:16:30</controlid><uniqueid>false</uniqueid><dtdversion>32191511.9790207</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1996-06-05T04:21:02+00:00</sessiontimestamp><sessiontimeout>2024-09-20T22:36:33+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-KKLYEzekvhGWw</function><controlid>-Fallback-scrubbed-VozCFrRHsZIbKUTdYahRSKJzTNqlnQxpIuNm</controlid><data><api><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.06'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="f00694d7-4423-4e70-9d7f-0b98afd13a04"><query><object>GLBUDGETHEADER</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1993-06-01
        09:16:30</controlid><uniqueid>false</uniqueid><dtdversion>32191511.9790207</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1985-01-01T01:08:47+00:00</sessiontimestamp><sessiontimeout>2012-12-25T15:27:30+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-FjIEu</function><controlid>-Fallback-scrubbed-IOPtwqcPFGDbyQvRjeHbBdGBMrgrjYMWCNoY</controlid><data
        listtype="-Fallback-scrubbed-nXihUmzcePFHrV" totalcount="8" offset="4346"
        count="4474" numremaining="7810"><GLBUDGETHEADER><RECORDNO>8</RECORDNO></GLBUDGETHEADER></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.05'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="efa28ded-0957-4620-bb4c-ae6eb86072b3"><query><object>GLBUDGETHEADER</object><select><field>RECORDNO</field><field>BUDGETID</field><field>DESCRIPTION</field><field>SYSTEMGENERATED</field><field>DEFAULT_BUDGET</field><field>USER</field><field>STATUS</field><field>WHENCREATED</field><field>WHENMODIFIED</field><field>CREATEDBY</field><field>MODIFIEDBY</field><field>ISCONSOLIDATED</field><field>CURRENCY</field><field>ISPABUDGET</field><field>ISPCNBUDGET</field><field>CREATEDBYUSERDESC</field><field>MODIFIEDBYUSERDESC</field><field>CREATEDBYLOGINID</field><field>MODIFIEDBYLOGINID</field><field>MEGAENTITYKEY</field><field>MEGAENTITYID</field><field>MEGAENTITYNAME</field><field>EXTERNALID</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1993-06-01
        09:16:30</controlid><uniqueid>false</uniqueid><dtdversion>32191511.9790207</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1974-10-14T08:04:54+00:00</sessiontimestamp><sessiontimeout>2003-02-28T06:45:39+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-FjIEu</function><controlid>-Fallback-scrubbed-LVCMbTZKjlyzcXThuRgHKmNBkZsVROyDWrnI</controlid><data
        listtype="-Fallback-scrubbed-nXihUmzcePFHrV" totalcount="8" offset="4346"
        count="4371" numremaining="4346"><GLBUDGETHEADER><RECORDNO>18</RECORDNO><BUDGETID>-Fallback-scrubbed-lGKLCzUsdFUCmq</BUDGETID><DESCRIPTION>-Fallback-scrubbed-lGKLCzUsdFUCmq</DESCRIPTION><SYSTEMGENERATED>false</SYSTEMGENERATED><DEFAULT_BUDGET>false</DEFAULT_BUDGET><USER>-Fallback-scrubbed-gHoE</USER><STATUS>-Fallback-scrubbed-yYkyGB</STATUS><WHENCREATED>03/27/1976
        19:57:53</WHENCREATED><WHENMODIFIED>09/07/2023 19:41:25</WHENMODIFIED><CREATEDBY>429</CREATEDBY><MODIFIEDBY>429</MODIFIEDBY><ISCONSOLIDATED>false</ISCONSOLIDATED><CURRENCY></CURRENCY><ISPABUDGET>false</ISPABUDGET><ISPCNBUDGET>false</ISPCNBUDGET><CREATEDBYUSERDESC>-Fallback-scrubbed-iwmBtUjXyvsrAVJoH</CREATEDBYUSERDESC><MODIFIEDBYUSERDESC>-Fallback-scrubbed-iwmBtUjXyvsrAVJoH</MODIFIEDBYUSERDESC><CREATEDBYLOGINID>-Fallback-scrubbed-gHoE</CREATEDBYLOGINID><MODIFIEDBYLOGINID>-Fallback-scrubbed-gHoE</MODIFIEDBYLOGINID><MEGAENTITYKEY></MEGAENTITYKEY><MEGAENTITYID></MEGAENTITYID><MEGAENTITYNAME></MEGAENTITYNAME><EXTERNALID></EXTERNALID><RECORD_URL>-Fallback-scrubbed-doZESjBiemGnDdRKohocQRZLOnVaMCHYNuvcHnBHLgVZlqkkEMTpsiqGARXoOaOSRghQUqpyiPYNGNWCGGvxafR</RECORD_URL></GLBUDGETHEADER><GLBUDGETHEADER><RECORDNO>15</RECORDNO><BUDGETID>-Fallback-scrubbed-fagJctjGkEqxf</BUDGETID><DESCRIPTION>-Fallback-scrubbed-xZZlynELlNuEgHHkWxeLBbtGICPyGTnerlDqq</DESCRIPTION><SYSTEMGENERATED>false</SYSTEMGENERATED><DEFAULT_BUDGET>false</DEFAULT_BUDGET><USER>-Fallback-scrubbed-tOjl</USER><STATUS>-Fallback-scrubbed-yYkyGB</STATUS><WHENCREATED>08/31/1987
        1[...]
[...]
