interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="b4d14734-44b1-4fdb-88ef-1a90f51e3264"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2019-05-25
        09:46:07</controlid><uniqueid>false</uniqueid><dtdversion>-84.7505542326826</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1998-12-06T00:22:20+00:00</sessiontimestamp><sessiontimeout>1998-12-29T12:04:16+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-VpkNNuTAwpzkv</function><controlid>-Fallback-scrubbed-qnnDnGsZzSqSqBlbHCuaMYVbNBnfOYgYYHjq</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="445e3097-ef59-4a2f-b8d0-b43317ec75a1"><query><object>GLBUDGETHEADER</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2019-05-25
        09:46:07</controlid><uniqueid>false</uniqueid><dtdversion>-84.7505542326826</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2002-04-12T18:56:42+00:00</sessiontimestamp><sessiontimeout>2018-10-22T09:49:28+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-Byqgt</function><controlid>-Fallback-scrubbed-JWeLuxeOjZnYwZyPtbtEcDiFewuEjAjUiQCS</controlid><data
        listtype="-Fallback-scrubbed-HDvTbjebhyqGLN" totalcount="8" offset="1836"
        count="3906" numremaining="4753"><GLBUDGETHEADER><RECORDNO>8</RECORDNO></GLBUDGETHEADER></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="045a049c-e646-4ba5-acef-3a0ed0430664"><query><object>GLBUDGETHEADER</object><select><field>RECORDNO</field><field>BUDGETID</field><field>DESCRIPTION</field><field>SYSTEMGENERATED</field><field>DEFAULT_BUDGET</field><field>USER</field><field>STATUS</field><field>WHENCREATED</field><field>WHENMODIFIED</field><field>CREATEDBY</field><field>MODIFIEDBY</field><field>ISCONSOLIDATED</field><field>CURRENCY</field><field>ISPABUDGET</field><field>ISPCNBUDGET</field><field>CREATEDBYUSERDESC</field><field>MODIFIEDBYUSERDESC</field><field>CREATEDBYLOGINID</field><field>MODIFIEDBYLOGINID</field><field>MEGAENTITYKEY</field><field>MEGAENTITYID</field><field>MEGAENTITYNAME</field><field>EXTERNALID</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2019-05-25
        09:46:07</controlid><uniqueid>false</uniqueid><dtdversion>-84.7505542326826</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1992-04-09T07:58:58+00:00</sessiontimestamp><sessiontimeout>2001-10-15T10:05:55+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-Byqgt</function><controlid>-Fallback-scrubbed-thGjMBZvogTuzvcCpArSRdUDQausVohmTGrx</controlid><data
        listtype="-Fallback-scrubbed-HDvTbjebhyqGLN" totalcount="8" offset="1836"
        count="9284" numremaining="1836"><GLBUDGETHEADER><RECORDNO>15</RECORDNO><BUDGETID>-Fallback-scrubbed-HPCirSUnbuNYv</BUDGETID><DESCRIPTION>-Fallback-scrubbed-OrmaaRhVHVjXsCJaOuSwOFarjRWIwVoUyyMuJ</DESCRIPTION><SYSTEMGENERATED>false</SYSTEMGENERATED><DEFAULT_BUDGET>false</DEFAULT_BUDGET><USER>-Fallback-scrubbed-tbMk</USER><STATUS>active</STATUS><WHENCREATED>08/08/1998
        03:53:54</WHENCREATED><WHENMODIFIED>05/07/2019 20:44:34</WHENMODIFIED><CREATEDBY>5196</CREATEDBY><MODIFIEDBY>5196</MODIFIEDBY><ISCONSOLIDATED>false</ISCONSOLIDATED><CURRENCY></CURRENCY><ISPABUDGET>false</ISPABUDGET><ISPCNBUDGET>false</ISPCNBUDGET><CREATEDBYUSERDESC>-Fallback-scrubbed-hDiKvjey</CREATEDBYUSERDESC><MODIFIEDBYUSERDESC>-Fallback-scrubbed-hDiKvjey</MODIFIEDBYUSERDESC><CREATEDBYLOGINID>-Fallback-scrubbed-tbMk</CREATEDBYLOGINID><MODIFIEDBYLOGINID>-Fallback-scrubbed-tbMk</MODIFIEDBYLOGINID><MEGAENTITYKEY></MEGAENTITYKEY><MEGAENTITYID></MEGAENTITYID><MEGAENTITYNAME></MEGAENTITYNAME><EXTERNALID></EXTERNALID><RECORD_URL>-Fallback-scrubbed-XbZBYrXRueuVVBNXYTDxSmTwohvFKIDnHYYzgrqiAPxYjRuBjUgKHWLoSYpbRkupiqxgEXHPDvRUOTNNlhZmutI</RECORD_URL></GLBUDGETHEADER><GLBUDGETHEADER><RECORDNO>8</RECORDNO><BUDGETID>-Fallback-scrubbed-QXUnqukXyThtEXcEpm</BUDGETID><DESCRIPTION>-Fallback-scrubbed-vbPIzubXaoUtcWvebWLpSKz</DESCRIPTION><SYSTEMGENERATED>false</SYSTEMGENERATED><DEFAULT_BUDGET>false</DEFAULT_BUDGET><USER>-Fallback-scrubbed-tbMk</USER><STATUS>active</STATUS><WHENCREATED>03/01/1987
        14:54:26</WHENCREATED><WHENMOD[...]
[...]
