interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="419552b5-536b-4846-b0b2-728be1ead06f"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1974-01-14
        19:29:19</controlid><uniqueid>false</uniqueid><dtdversion>42687201042.3577</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1971-10-22T11:11:35+00:00</sessiontimestamp><sessiontimeout>2001-08-28T15:48:36+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-tKXLpDZMMyski</function><controlid>-Fallback-scrubbed-SQEtcWjcPhJCcdzWxPAwKOAAzSPVXjyKAjva</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="3fd8ed2b-32bd-45eb-adf9-a6ba24e8bfa1"><query><object>GLBUDGETHEADER</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1974-01-14
        19:29:19</controlid><uniqueid>false</uniqueid><dtdversion>42687201042.3577</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1971-10-22T11:11:35+00:00</sessiontimestamp><sessiontimeout>2001-08-28T15:48:36+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-gzmEW</function><controlid>-Fallback-scrubbed-IsHmqYXcwXEykGpnABdJgujSPmDxKLkMimus</controlid><data
        listtype="-Fallback-scrubbed-TeibbfMIMkutuk" totalcount="8" offset="7680"
        count="4438" numremaining="7276"><GLBUDGETHEADER><RECORDNO>8</RECORDNO></GLBUDGETHEADER></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.03'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="fe8c8da3-22c1-4bff-a3e7-f922812ecfe8"><query><object>GLBUDGETHEADER</object><select><field>RECORDNO</field><field>BUDGETID</field><field>DESCRIPTION</field><field>SYSTEMGENERATED</field><field>DEFAULT_BUDGET</field><field>USER</field><field>STATUS</field><field>WHENCREATED</field><field>WHENMODIFIED</field><field>CREATEDBY</field><field>MODIFIEDBY</field><field>ISCONSOLIDATED</field><field>CURRENCY</field><field>ISPABUDGET</field><field>ISPCNBUDGET</field><field>CREATEDBYUSERDESC</field><field>MODIFIEDBYUSERDESC</field><field>CREATEDBYLOGINID</field><field>MODIFIEDBYLOGINID</field><field>MEGAENTITYKEY</field><field>MEGAENTITYID</field><field>MEGAENTITYNAME</field><field>EXTERNALID</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1974-01-14
        19:29:19</controlid><uniqueid>false</uniqueid><dtdversion>42687201042.3577</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1970-04-11T07:38:01+00:00</sessiontimestamp><sessiontimeout>2002-07-08T12:57:46+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-gzmEW</function><controlid>-Fallback-scrubbed-FxmNOReadPLeqJRCXzJtSGanQnSgGvwMxcTy</controlid><data
        listtype="-Fallback-scrubbed-TeibbfMIMkutuk" totalcount="8" offset="7680"
        count="3445" numremaining="7680"><GLBUDGETHEADER><RECORDNO>18</RECORDNO><BUDGETID>-Fallback-scrubbed-btDqNpkOnWfFyg</BUDGETID><DESCRIPTION>-Fallback-scrubbed-btDqNpkOnWfFyg</DESCRIPTION><SYSTEMGENERATED>false</SYSTEMGENERATED><DEFAULT_BUDGET>false</DEFAULT_BUDGET><USER>-Fallback-scrubbed-pqBT</USER><STATUS>active</STATUS><WHENCREATED>03/23/1990
        12:39:50</WHENCREATED><WHENMODIFIED>09/07/2023 19:41:25</WHENMODIFIED><CREATEDBY>307</CREATEDBY><MODIFIEDBY>307</MODIFIEDBY><ISCONSOLIDATED>false</ISCONSOLIDATED><CURRENCY></CURRENCY><ISPABUDGET>false</ISPABUDGET><ISPCNBUDGET>false</ISPCNBUDGET><CREATEDBYUSERDESC>-Fallback-scrubbed-ObLIqOAAAcWDaPVgR</CREATEDBYUSERDESC><MODIFIEDBYUSERDESC>-Fallback-scrubbed-ObLIqOAAAcWDaPVgR</MODIFIEDBYUSERDESC><CREATEDBYLOGINID>-Fallback-scrubbed-pqBT</CREATEDBYLOGINID><MODIFIEDBYLOGINID>-Fallback-scrubbed-pqBT</MODIFIEDBYLOGINID><MEGAENTITYKEY></MEGAENTITYKEY><MEGAENTITYID></MEGAENTITYID><MEGAENTITYNAME></MEGAENTITYNAME><EXTERNALID></EXTERNALID><RECORD_URL>-Fallback-scrubbed-CzEEHDEExNbepPrPXmRHTALNcCDOqRapKCPWGzeeUeLVAsSoOoatEXrBDDzjSbGXqrpWCXWSPeDKGnwBCsMwPhS</RECORD_URL></GLBUDGETHEADER><GLBUDGETHEADER><RECORDNO>15</RECORDNO><BUDGETID>-Fallback-scrubbed-FfhmDiukZoyAx</BUDGETID><DESCRIPTION>-Fallback-scrubbed-biYrXEdBYKqqhYcSGFrZnHMJMizULbjTDsAYX</DESCRIPTION><SYSTEMGENERATED>false</SYSTEMGENERATED><DEFAULT_BUDGET>true</DEFAULT_BUDGET><USER>-Fallback-scrubbed-LiGb</USER><STATUS>active</STATUS><WHENCREATED>12/31/2024
        12:57:15</WHENCREATED[...]
[...]
