interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="728ee00e-4f1b-4cd0-860b-422689bac433"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1990-03-12
        23:59:25</controlid><uniqueid>false</uniqueid><dtdversion>-70893070937095.0</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1972-08-05T13:32:33+00:00</sessiontimestamp><sessiontimeout>2016-12-24T14:27:58+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-spFUqCydOXaLm</function><controlid>-Fallback-scrubbed-jthyrdAoGZBZVVdYAIWKjrLjzmtEJYdEUKce</controlid><data><api><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="d485b52c-2d8c-4e32-beec-b079f6b2f572"><query><object>APPYMTDETAIL</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1990-03-12
        23:59:25</controlid><uniqueid>false</uniqueid><dtdversion>-70893070937095.0</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1996-05-01T23:44:07+00:00</sessiontimestamp><sessiontimeout>2014-03-25T04:51:28+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-dBsHj</function><controlid>-Fallback-scrubbed-ilxrkXGrzEBbwgaBmJTWzBoKwZmDjpiIcNhL</controlid><data
        listtype="-Fallback-scrubbed-snnWnyGmhXMd" totalcount="8" offset="643" count="6359"
        numremaining="5586"><APPYMTDETAIL><RECORDNO>398</RECORDNO></APPYMTDETAIL></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.03'
    status:
      code: 200
      message: OK
[...]
