interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="95d71a77-f1b6-4959-890b-77a9be9d6635"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2007-08-11
        20:03:56</controlid><uniqueid>true</uniqueid><dtdversion>67581130.2102856</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2018-05-12T07:17:21+00:00</sessiontimestamp><sessiontimeout>2002-01-11T00:48:25+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-uZHjpXzsRpsmE</function><controlid>-Fallback-scrubbed-wZpiMtoCrYXGFWIjFhZHnjXSjjNnBJKpGMsq</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="d2ce2eb0-2741-4577-96bc-e5489a137843"><query><object>APPYMTDETAIL</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2007-08-11
        20:03:56</controlid><uniqueid>true</uniqueid><dtdversion>67581130.2102856</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1977-10-27T08:13:24+00:00</sessiontimestamp><sessiontimeout>1990-10-20T02:20:24+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-SDNyX</function><controlid>-Fallback-scrubbed-RtaPXShqxmXlBwThBqXQkDgaicKZtDmwehDL</controlid><data
        listtype="-Fallback-scrubbed-ugMshOYQFpak" totalcount="8" offset="8861" count="2267"
        numremaining="6302"><APPYMTDETAIL><RECORDNO>398</RECORDNO></APPYMTDETAIL></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
