interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="aa9b6ea6-c9b2-4938-b2ed-a5eb642d33c9"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2011-10-20
        08:18:26</controlid><uniqueid>false</uniqueid><dtdversion>-7616232822420.4</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2005-11-24T00:04:17+00:00</sessiontimestamp><sessiontimeout>2023-02-15T00:51:16+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-RhbpQVfyknbsf</function><controlid>-Fallback-scrubbed-hkjfGQfISXiggeccGearvOlWMgwMNQujztaa</controlid><data><api><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.03'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="58b49a2a-9c7b-4ba7-942e-d6aa9f80a533"><query><object>AFFILIATEENTITY</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2011-10-20
        08:18:26</controlid><uniqueid>false</uniqueid><dtdversion>-7616232822420.4</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2025-01-16T04:10:21+00:00</sessiontimestamp><sessiontimeout>1984-03-18T07:17:01+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-bCSDu</function><controlid>-Fallback-scrubbed-EpiYBhQoHifDtsuOhKrohnpLoAUOzCGCEujC</controlid><data
        listtype="-Fallback-scrubbed-pHGdFyfuJhUhrcK" totalcount="2" offset="2665"
        count="7286" numremaining="7286"><AFFILIATEENTITY><RECORDNO>17</RECORDNO></AFFILIATEENTITY></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="f27519a2-3dad-43c1-b30b-b885ac265200"><query><object>AFFILIATEENTITY</object><select><field>RECORDNO</field><field>AFFILIATEENTITYID</field><field>NAME</field><field>STATUS</field><field>WHENCREATED</field><field>WHENMODIFIED</field><field>CREATEDBY</field><field>MODIFIEDBY</field><field>CREATEDBYLOGINID</field><field>MODIFIEDBYLOGINID</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2011-10-20
        08:18:26</controlid><uniqueid>false</uniqueid><dtdversion>-7616232822420.4</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2016-08-24T08:55:15+00:00</sessiontimestamp><sessiontimeout>2016-07-06T12:56:11+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-bCSDu</function><controlid>-Fallback-scrubbed-EbtFehrudGMwvBDuEfKUTquDcRItsNxMoxxm</controlid><data
        listtype="-Fallback-scrubbed-pHGdFyfuJhUhrcK" totalcount="2" offset="2665"
        count="8403" numremaining="2665"><AFFILIATEENTITY><RECORDNO>17</RECORDNO><AFFILIATEENTITYID>-Fallback-scrubbed-kw</AFFILIATEENTITYID><NAME>Catherine
        Cruz</NAME><STATUS>-Fallback-scrubbed-suGoHy</STATUS><WHENCREATED>12/25/2013</WHENCREATED><WHENMODIFIED>02/27/2026</WHENMODIFIED><CREATEDBY>8539</CREATEDBY><MODIFIEDBY>8539</MODIFIEDBY><CREATEDBYLOGINID>-Fallback-scrubbed-Twmt</CREATEDBYLOGINID><MODIFIEDBYLOGINID>-Fallback-scrubbed-Twmt</MODIFIEDBYLOGINID></AFFILIATEENTITY><AFFILIATEENTITY><RECORDNO>16</RECORDNO><AFFILIATEENTITYID>9977</AFFILIATEENTITYID><NAME>Scott
        Davis</NAME><STATUS>-Fallback-scrubbed-suGoHy</STATUS><WHENCREATED>12/25/1987</WHENCREATED><WHENMODIFIED>02/27/2026</WHENMODIFIED><CREATEDBY>8539</CREATEDBY><MODIFIEDBY>8539</MODIFIEDBY><CREATEDBYLOGINID>-Fallback-scrubbed-Twmt</CREATEDBYLOGINID><MODIFIEDBYLOGINID>-Fallback-scrubbed-Twmt</MODIFIEDBYLOGINID></AFFILIATEENTITY></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.03'
    status:
      code: 200
      message: OK
[...]
