interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="1f2cb396-b922-408b-a4b9-4b2a2551f2e3"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2007-07-26
        03:42:11</controlid><uniqueid>true</uniqueid><dtdversion>41895040138890.3</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1985-11-15T11:56:59+00:00</sessiontimestamp><sessiontimeout>2013-02-20T21:33:52+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-comrpMVaEWCIG</function><controlid>-Fallback-scrubbed-VwImeKPTnmBiDKTtMGHozrWThsjRybMCmeXD</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="2d0bbda2-e1ec-4a53-8379-21b93c26eee6"><query><object>AFFILIATEENTITY</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2007-07-26
        03:42:11</controlid><uniqueid>true</uniqueid><dtdversion>41895040138890.3</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1991-03-21T22:16:49+00:00</sessiontimestamp><sessiontimeout>1991-01-21T23:00:59+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-KgqqJ</function><controlid>-Fallback-scrubbed-thzMuoWbxEGuUnQkUHeUAsnZSiUXKmlUDAPc</controlid><data
        listtype="-Fallback-scrubbed-VLyfhzpsdbfHvfY" totalcount="0" offset="2339"
        count="2339" numremaining="2339"></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
