interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="cbfb2ffd-dd0e-46c0-b813-942422f42a7d"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2014-06-09
        14:43:46</controlid><uniqueid>true</uniqueid><dtdversion>75010739493899.0</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1979-12-16T13:06:12+00:00</sessiontimestamp><sessiontimeout>2020-07-05T03:46:40+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-LjNrvypdJsGkW</function><controlid>-Fallback-scrubbed-DRpWxTnupRCONyINRuUiIvRaaMqgPfWNuQki</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.03'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="ca9bed08-ad89-43ab-9ba6-5b5c9e3bfdbd"><query><object>AFFILIATEENTITY</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2014-06-09
        14:43:46</controlid><uniqueid>true</uniqueid><dtdversion>75010739493899.0</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2005-10-24T21:18:00+00:00</sessiontimestamp><sessiontimeout>2000-01-03T04:26:30+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-abiDE</function><controlid>-Fallback-scrubbed-GMFpvQneWfyOQnUyAzRdlrzawRsgzSEaKxGh</controlid><data
        listtype="-Fallback-scrubbed-frktVXPuFatfgax" totalcount="2" offset="6935"
        count="9614" numremaining="9614"><AFFILIATEENTITY><RECORDNO>17</RECORDNO></AFFILIATEENTITY></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.1'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="4665b6c6-30ed-4355-871c-f50bec498d43"><query><object>AFFILIATEENTITY</object><select><field>RECORDNO</field><field>AFFILIATEENTITYID</field><field>NAME</field><field>STATUS</field><field>WHENCREATED</field><field>WHENMODIFIED</field><field>CREATEDBY</field><field>MODIFIEDBY</field><field>CREATEDBYLOGINID</field><field>MODIFIEDBYLOGINID</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2014-06-09
        14:43:46</controlid><uniqueid>true</uniqueid><dtdversion>75010739493899.0</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2017-12-31T20:18:52+00:00</sessiontimestamp><sessiontimeout>1996-09-05T14:28:09+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-abiDE</function><controlid>-Fallback-scrubbed-gPcpNzvzArYxfQXqJQPQKVdKOiktaudtNjvJ</controlid><data
        listtype="-Fallback-scrubbed-frktVXPuFatfgax" totalcount="2" offset="6935"
        count="3184" numremaining="6935"><AFFILIATEENTITY><RECORDNO>17</RECORDNO><AFFILIATEENTITYID>-Fallback-scrubbed-LI</AFFILIATEENTITYID><NAME>Fake-Natasha
        Sandoval</NAME><STATUS>active</STATUS><WHENCREATED>10/17/2024</WHENCREATED><WHENMODIFIED>02/27/2026</WHENMODIFIED><CREATEDBY>61</CREATEDBY><MODIFIEDBY>61</MODIFIEDBY><CREATEDBYLOGINID>-Fallback-scrubbed-jSOn</CREATEDBYLOGINID><MODIFIEDBYLOGINID>-Fallback-scrubbed-jSOn</MODIFIEDBYLOGINID></AFFILIATEENTITY><AFFILIATEENTITY><RECORDNO>16</RECORDNO><AFFILIATEENTITYID>5081</AFFILIATEENTITYID><NAME>Fake-Joshua
        Hobbs</NAME><STATUS>active</STATUS><WHENCREATED>08/26/1976</WHENCREATED><WHENMODIFIED>02/27/2026</WHENMODIFIED><CREATEDBY>61</CREATEDBY><MODIFIEDBY>61</MODIFIEDBY><CREATEDBYLOGINID>-Fallback-scrubbed-jSOn</CREATEDBYLOGINID><MODIFIEDBYLOGINID>-Fallback-scrubbed-jSOn</MODIFIEDBYLOGINID></AFFILIATEENTITY></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
[...]
