interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="92e5b823-2416-4c35-aa9b-109cdef1ba4b"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1970-02-13
        01:28:08</controlid><uniqueid>false</uniqueid><dtdversion>-19312309439320.1</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1998-12-04T16:59:11+00:00</sessiontimestamp><sessiontimeout>2020-02-26T21:14:34+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-zQIAQWmHknNab</function><controlid>-Fallback-scrubbed-JIRRhiUxLEWkRmydqatEnfLKwFzxAPmbqrdM</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="adfd37f3-ca10-45f7-a8ec-986f1d882ea9"><query><object>CREDITCARD</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>07/01/2025
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1970-02-13
        01:28:08</controlid><uniqueid>false</uniqueid><dtdversion>-19312309439320.1</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1980-08-04T02:55:44+00:00</sessiontimestamp><sessiontimeout>1979-09-26T05:23:27+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-Aqmfi</function><controlid>-Fallback-scrubbed-ViwVgLMhvqybuwvGnkJcQJzppYThmiWeVsbw</controlid><data
        listtype="-Fallback-scrubbed-nzwYlIiCfm" totalcount="3" offset="6312" count="3582"
        numremaining="8068"><CREDITCARD><RECORDNO>4</RECORDNO></CREDITCARD></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
