interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="3de5b40f-03b4-496b-9f65-6cf6b543f2b0"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2004-04-11
        13:29:20</controlid><uniqueid>true</uniqueid><dtdversion>7.93421417067833</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1989-04-24T02:57:25+00:00</sessiontimestamp><sessiontimeout>1988-04-10T15:53:39+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-DwbaOnrkrpTRD</function><controlid>-Fallback-scrubbed-zTRilfpOoMgRDSPzTYBnsClwguaxEfYPSfpu</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.09'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="c9bc1d96-51a2-4721-85f4-50b55c5e9b0b"><query><object>DEPARTMENT</object><select><field>DEPARTMENTID</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2004-04-11
        13:29:20</controlid><uniqueid>true</uniqueid><dtdversion>7.93421417067833</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1989-04-24T02:57:25+00:00</sessiontimestamp><sessiontimeout>1988-04-10T15:53:39+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-XzpUp</function><controlid>-Fallback-scrubbed-CNuCyYjofwVLYSiiqOSrkgsDfuStIzbMrkCA</controlid><data
        listtype="-Fallback-scrubbed-mIbqyduhip" totalcount="1" offset="7080" count="3185"
        numremaining="7080"><DEPARTMENT><DEPARTMENTID>DEPTINUSA1</DEPARTMENTID></DEPARTMENT></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="f40d6f19-221c-4b3f-9412-bcb591829779"><query><object>DEPARTMENT</object><select><field>DEPARTMENTID</field><field>RECORDNO</field><field>TITLE</field><field>PARENTKEY</field><field>PARENTID</field><field>PARENTNAME</field><field>SUPERVISORKEY</field><field>SUPERVISORID</field><field>WHENCREATED</field><field>WHENMODIFIED</field><field>SUPERVISORNAME</field><field>STATUS</field><field>CUSTTITLE</field><field>CREATEDBY</field><field>MODIFIEDBY</field><field>SI_UUID</field><field>CREATEDBYLOGINID</field><field>MODIFIEDBYLOGINID</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2004-04-11
        13:29:20</controlid><uniqueid>true</uniqueid><dtdversion>7.93421417067833</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2024-12-26T23:57:47+00:00</sessiontimestamp><sessiontimeout>2023-10-04T09:38:53+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-XzpUp</function><controlid>-Fallback-scrubbed-aWxyYNuPSyjlkkvBstVSWOLjCZbLhownEXzo</controlid><data
        listtype="-Fallback-scrubbed-mIbqyduhip" totalcount="1" offset="7080" count="3185"
        numremaining="7080"><DEPARTMENT><DEPARTMENTID>DEPTINUSA1</DEPARTMENTID><RECORDNO>12</RECORDNO><TITLE>-Fallback-scrubbed-iZhaZZAgdNWiE</TITLE><PARENTKEY></PARENTKEY><PARENTID></PARENTID><PARENTNAME></PARENTNAME><SUPERVISORKEY>2153</SUPERVISORKEY><SUPERVISORID>6137</SUPERVISORID><WHENCREATED>09/09/1991
        03:05:18</WHENCREATED><WHENMODIFIED>04/16/2026 13:37:16</WHENMODIFIED><SUPERVISORNAME>-Fallback-scrubbed-ZeZfKXmXFv</SUPERVISORNAME><STATUS>active</STATUS><CUSTTITLE>-Fallback-scrubbed-iZhaZZAgdNWiE</CUSTTITLE><CREATEDBY>9085</CREATEDBY><MODIFIEDBY>9085</MODIFIEDBY><SI_UUID></SI_UUID><CREATEDBYLOGINID>-Fallback-scrubbed-QACK</CREATEDBYLOGINID><MODIFIEDBYLOGINID>-Fallback-scrubbed-QACK</MODIFIEDBYLOGINID><RECORD_URL>-Fallback-scrubbed-wiAhVazWtUCWjHbgPABZFxKYJnSDRQAEgKVBXkahjVOfyOAGNfEmqQjOhlbpoRTRJRIxLZsghnjlGiibDETplqX</RECORD_URL></DEPARTMENT></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.03'
    status:
      code: 200
      message: OK
[...]
