interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="aa3894d8-1c67-404e-9243-0e7809a6a879"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2003-10-09
        16:09:02</controlid><uniqueid>true</uniqueid><dtdversion>5.50004155126251</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1979-03-28T15:53:47+00:00</sessiontimestamp><sessiontimeout>2007-05-07T18:07:39+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-qwmNnNbGyenak</function><controlid>-Fallback-scrubbed-otWGVFbWeHQECCxvHicCXtaLJpTJdALNwpKK</controlid><data><api><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="1464eff5-c8b8-4fbd-9d53-1c9b7ea570b3"><query><object>DEPARTMENT</object><select><field>DEPARTMENTID</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2003-10-09
        16:09:02</controlid><uniqueid>true</uniqueid><dtdversion>5.50004155126251</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2004-03-09T14:54:17+00:00</sessiontimestamp><sessiontimeout>1973-07-05T03:33:51+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-KLkcH</function><controlid>-Fallback-scrubbed-FLrOGQgbBDNubRgrqQLasNPZRRaHxINCFVGz</controlid><data
        listtype="-Fallback-scrubbed-IVJWlAScYn" totalcount="1" offset="1788" count="7047"
        numremaining="1788"><DEPARTMENT><DEPARTMENTID>DEPTINUSA1</DEPARTMENTID></DEPARTMENT></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="f2477699-5682-4a47-b734-5be3b3e59486"><query><object>DEPARTMENT</object><select><field>DEPARTMENTID</field><field>RECORDNO</field><field>TITLE</field><field>PARENTKEY</field><field>PARENTID</field><field>PARENTNAME</field><field>SUPERVISORKEY</field><field>SUPERVISORID</field><field>WHENCREATED</field><field>WHENMODIFIED</field><field>SUPERVISORNAME</field><field>STATUS</field><field>CUSTTITLE</field><field>CREATEDBY</field><field>MODIFIEDBY</field><field>SI_UUID</field><field>CREATEDBYLOGINID</field><field>MODIFIEDBYLOGINID</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2003-10-09
        16:09:02</controlid><uniqueid>true</uniqueid><dtdversion>5.50004155126251</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1987-11-18T16:13:20+00:00</sessiontimestamp><sessiontimeout>1970-09-10T01:08:27+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-KLkcH</function><controlid>-Fallback-scrubbed-XgQRHSMaZDWwprnnXqYWQzDSzJPSPAwrxmXe</controlid><data
        listtype="-Fallback-scrubbed-IVJWlAScYn" totalcount="1" offset="1788" count="7047"
        numremaining="1788"><DEPARTMENT><DEPARTMENTID>DEPTINUSA1</DEPARTMENTID><RECORDNO>12</RECORDNO><TITLE>-Fallback-scrubbed-KXpVvbKjGJuHg</TITLE><PARENTKEY></PARENTKEY><PARENTID></PARENTID><PARENTNAME></PARENTNAME><SUPERVISORKEY>4611</SUPERVISORKEY><SUPERVISORID>7399</SUPERVISORID><WHENCREATED>04/17/2020
        03:29:57</WHENCREATED><WHENMODIFIED>04/16/2026 13:37:16</WHENMODIFIED><SUPERVISORNAME>-Fallback-scrubbed-yJljRCpEyZ</SUPERVISORNAME><STATUS>-Fallback-scrubbed-GQVOTy</STATUS><CUSTTITLE>-Fallback-scrubbed-KXpVvbKjGJuHg</CUSTTITLE><CREATEDBY>7765</CREATEDBY><MODIFIEDBY>7765</MODIFIEDBY><SI_UUID></SI_UUID><CREATEDBYLOGINID>-Fallback-scrubbed-Gina</CREATEDBYLOGINID><MODIFIEDBYLOGINID>-Fallback-scrubbed-Gina</MODIFIEDBYLOGINID><RECORD_URL>-Fallback-scrubbed-UYOEiWcWStlUDZFgSUAIMvRKezwswsUcoCVJbaElXDalWoHQWwLvcvkoXGmqRqULKWQskbxjzpKMXdwLbevNWGW</RECORD_URL></DEPARTMENT></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.03'
    status:
      code: 200
      message: OK
[...]
