interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="62718407-adb7-44ad-8e2d-71b71c45aafa"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1992-04-28
        00:14:46</controlid><uniqueid>false</uniqueid><dtdversion>3615477160367.32</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2020-08-04T17:22:19+00:00</sessiontimestamp><sessiontimeout>1973-08-25T08:40:14+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-gjhGGYVAPMYuI</function><controlid>-Fallback-scrubbed-ZiznnLsCnXREtQLnANZFDVgAuePTMPhkcBjO</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="e924f731-d7db-4b69-a137-54ddb1fb97a3"><query><object>DEPARTMENT</object><select><field>DEPARTMENTID</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1992-04-28
        00:14:46</controlid><uniqueid>false</uniqueid><dtdversion>3615477160367.32</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2020-04-19T17:48:44+00:00</sessiontimestamp><sessiontimeout>1987-06-25T12:55:56+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-qVIIT</function><controlid>-Fallback-scrubbed-USFqqWyPPSlBYaLjhcehnQueNcCbgZKWAlaR</controlid><data
        listtype="-Fallback-scrubbed-lZupckFaWX" totalcount="1" offset="8725" count="1000"
        numremaining="8725"><DEPARTMENT><DEPARTMENTID>DEPTINUSA1</DEPARTMENTID></DEPARTMENT></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="c05264c6-50c4-4ceb-be44-d7b6057a0933"><query><object>DEPARTMENT</object><select><field>DEPARTMENTID</field><field>RECORDNO</field><field>TITLE</field><field>PARENTKEY</field><field>PARENTID</field><field>PARENTNAME</field><field>SUPERVISORKEY</field><field>SUPERVISORID</field><field>WHENCREATED</field><field>WHENMODIFIED</field><field>SUPERVISORNAME</field><field>STATUS</field><field>CUSTTITLE</field><field>CREATEDBY</field><field>MODIFIEDBY</field><field>SI_UUID</field><field>CREATEDBYLOGINID</field><field>MODIFIEDBYLOGINID</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1992-04-28
        00:14:46</controlid><uniqueid>false</uniqueid><dtdversion>3615477160367.32</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2010-03-17T18:06:00+00:00</sessiontimestamp><sessiontimeout>1981-10-04T14:55:43+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-qVIIT</function><controlid>-Fallback-scrubbed-IvpqyWDWaGBuYsQzyeOEhJGLerbvJMHYYeLp</controlid><data
        listtype="-Fallback-scrubbed-lZupckFaWX" totalcount="1" offset="8725" count="1000"
        numremaining="8725"><DEPARTMENT><DEPARTMENTID>DEPTINUSA1</DEPARTMENTID><RECORDNO>12</RECORDNO><TITLE>-Fallback-scrubbed-DoXBvuqlpkeGF</TITLE><PARENTKEY></PARENTKEY><PARENTID></PARENTID><PARENTNAME></PARENTNAME><SUPERVISORKEY>4815</SUPERVISORKEY><SUPERVISORID>9304</SUPERVISORID><WHENCREATED>07/17/1991
        00:29:39</WHENCREATED><WHENMODIFIED>04/16/2026 13:37:16</WHENMODIFIED><SUPERVISORNAME>-Fallback-scrubbed-kkkiVKlzPY</SUPERVISORNAME><STATUS>active</STATUS><CUSTTITLE>-Fallback-scrubbed-DoXBvuqlpkeGF</CUSTTITLE><CREATEDBY>9762</CREATEDBY><MODIFIEDBY>9762</MODIFIEDBY><SI_UUID></SI_UUID><CREATEDBYLOGINID>-Fallback-scrubbed-RNgh</CREATEDBYLOGINID><MODIFIEDBYLOGINID>-Fallback-scrubbed-RNgh</MODIFIEDBYLOGINID><RECORD_URL>-Fallback-scrubbed-VKhPRuyPNcyOhyDZduSoWatACRnCllfRLGZeUpOBndjoTNKVzibZJKQOGxdyOWizhzurcWxmJlApWITXVLVGzIY</RECORD_URL></DEPARTMENT></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
