interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="e72d0570-0545-4c95-ac63-a0474d6cb503"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1984-02-24
        02:15:21</controlid><uniqueid>true</uniqueid><dtdversion>990.95632423846</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1973-07-30T23:49:01+00:00</sessiontimestamp><sessiontimeout>2018-10-09T03:47:23+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-XiuliVFbZNXtz</function><controlid>-Fallback-scrubbed-cnwfzWUhwkPRQssGvppmuxNeWWJPRpXfatkL</controlid><data><api><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.03'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="70a58cfd-0f01-4b60-97ee-caa2b2a50dac"><query><object>WAREHOUSE</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1984-02-24
        02:15:21</controlid><uniqueid>true</uniqueid><dtdversion>990.95632423846</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2018-12-01T10:27:14+00:00</sessiontimestamp><sessiontimeout>2018-08-23T14:46:09+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-RpBtq</function><controlid>-Fallback-scrubbed-MqCOFOrxthFKYAwdFZRMwreYOqsdwlOLAHFB</controlid><data
        listtype="-Fallback-scrubbed-YwWBUZwtK" totalcount="4" offset="5739" count="9082"
        numremaining="6789"><WAREHOUSE><RECORDNO>1</RECORDNO></WAREHOUSE></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.03'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="f36c9fb8-c283-480b-93bf-c8344ca26a5b"><query><object>WAREHOUSE</object><select><field>RECORDNO</field><field>LOCATIONID</field><field>NAME</field><field>PARENTID</field><field>WAREHOUSEID</field><field>LOC.LOCATIONID</field><field>MANAGER.NAME</field><field>MANAGERID</field><field>CONTACTINFO.CONTACTNAME</field><field>SHIPTO.CONTACTNAME</field><field>USEDINGL</field><field>STATUS</field><field>ENABLE_REPLENISHMENT</field><field>ENABLENEGATIVEINV</field><field>WHENCREATED</field><field>WHENMODIFIED</field><field>CREATEDBY</field><field>MODIFIEDBY</field><field>SI_UUID</field><field>CREATEDBYLOGINID</field><field>MODIFIEDBYLOGINID</field><field>MEGAENTITYKEY</field><field>MEGAENTITYID</field><field>MEGAENTITYNAME</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1984-02-24
        02:15:21</controlid><uniqueid>true</uniqueid><dtdversion>990.95632423846</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1978-08-17T04:54:07+00:00</sessiontimestamp><sessiontimeout>2018-08-23T19:25:20+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-RpBtq</function><controlid>-Fallback-scrubbed-iXrXyIQWhlWQAimbMwlhnihCSsrLnzauofgQ</controlid><data
        listtype="-Fallback-scrubbed-YwWBUZwtK" totalcount="4" offset="5739" count="3097"
        numremaining="5739"><WAREHOUSE><RECORDNO>1</RECORDNO><LOCATIONID>-Fallback-scrubbed-eUO</LOCATIONID><NAME>Lori
        Webb</NAME><PARENTID></PARENTID><WAREHOUSEID>-Fallback-scrubbed-eUO</WAREHOUSEID><LOC.LOCATIONID>2981</LOC.LOCATIONID><MANAGER.NAME>Leah
        James</MANAGER.NAME><MANAGERID>5654</MANAGERID><CONTACTINFO.CONTACTNAME>-Fallback-scrubbed-bMVcflgTDuQ</CONTACTINFO.CONTACTNAME><SHIPTO.CONTACTNAME></SHIPTO.CONTACTNAME><USEDINGL>true</USEDINGL><STATUS>-Fallback-scrubbed-vtmWop</STATUS><ENABLE_REPLENISHMENT>true</ENABLE_REPLENISHMENT><ENABLENEGATIVEINV>true</ENABLENEGATIVEINV><WHENCREATED>07/30/1995
        07:25:17</WHENCREATED><WHENMODIFIED>09/15/2022 18:03:21</WHENMODIFIED><CREATEDBY>9082</CREATEDBY><MODIFIEDBY>4973</MODIFIEDBY><SI_UUID></SI_UUID><CREATEDBYLOGINID>-Fallback-scrubbed-lcbdRlCA</CREATEDBYLOGINID><MODIFIEDBYLOGINID>-Fallback-scrubbed-VmDo</MODIFIEDBYLOGINID><MEGAENTITYKEY></MEGAENTITYKEY><MEGAENTITYID></MEGAENTITYID><MEGAENTITYNAME></MEGAENTITYNAME><RECORD_URL>-Fallback-scrubbed-sJryjoGXfYhgmmjniIAszDjjzBzUwtfWAYIUIsCwTtNycUHfZnvcxxxMKIXDqYPRoMndFAdOPGpHfDkUBlOchMk</RECORD_URL></WAREHOUSE><WAREHOUSE><RECORDNO>2</RECORDNO><LOCATIONID>-Fallback-scrubbed-tcA</LOCATIONID><NAME>Andrew
        Valdez</NAME><PARENTID></PARENTID><WAREHOUSEID>-Fallback-scrubbed-tcA</WAREHOUSEID><LOC.LOCATIONID>5008</LOC.LOCATIONID><MANAGER.NAME>Leah
        James</MANAGER.NAME><MANAGERID>5654</MANAGERID><CONTACTINFO.CONTACTNAME>-Fallback-scrubbed-HLiDSVpfuLR</CONTACTINFO.CONTA[...]
[...]
