interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="1184cd5b-d8ec-4dc8-a841-ccac8f24e646"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1991-11-06
        12:42:35</controlid><uniqueid>false</uniqueid><dtdversion>-433.75168697887</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1999-07-23T21:38:43+00:00</sessiontimestamp><sessiontimeout>2002-01-04T01:05:09+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-BaelMZFtcxRDS</function><controlid>-Fallback-scrubbed-PwWOkfugIrlMGJgmPEoDgpQFObUqPRZxAuXT</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="b7d938aa-4946-4cc8-ab03-a01ef2fbd078"><query><object>WAREHOUSE</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1991-11-06
        12:42:35</controlid><uniqueid>false</uniqueid><dtdversion>-433.75168697887</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1972-04-14T05:56:12+00:00</sessiontimestamp><sessiontimeout>1997-07-09T22:18:33+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-zSZKY</function><controlid>-Fallback-scrubbed-ZKfLiBasvKvqWtYOifBGkvNzTyxvykXVwvtk</controlid><data
        listtype="-Fallback-scrubbed-OlymDmHpy" totalcount="4" offset="10" count="4125"
        numremaining="8926"><WAREHOUSE><RECORDNO>1</RECORDNO></WAREHOUSE></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="5e8db768-ab7c-41de-afb5-124a70f73995"><query><object>WAREHOUSE</object><select><field>RECORDNO</field><field>LOCATIONID</field><field>NAME</field><field>PARENTID</field><field>WAREHOUSEID</field><field>LOC.LOCATIONID</field><field>MANAGER.NAME</field><field>MANAGERID</field><field>CONTACTINFO.CONTACTNAME</field><field>SHIPTO.CONTACTNAME</field><field>USEDINGL</field><field>STATUS</field><field>ENABLE_REPLENISHMENT</field><field>ENABLENEGATIVEINV</field><field>WHENCREATED</field><field>WHENMODIFIED</field><field>CREATEDBY</field><field>MODIFIEDBY</field><field>SI_UUID</field><field>CREATEDBYLOGINID</field><field>MODIFIEDBYLOGINID</field><field>MEGAENTITYKEY</field><field>MEGAENTITYID</field><field>MEGAENTITYNAME</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1991-11-06
        12:42:35</controlid><uniqueid>false</uniqueid><dtdversion>-433.75168697887</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1979-07-02T00:50:16+00:00</sessiontimestamp><sessiontimeout>2006-12-02T08:21:52+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-zSZKY</function><controlid>-Fallback-scrubbed-ykiVUVZwYgocPYDOjhUaTYCQuFfuxJDWmftO</controlid><data
        listtype="-Fallback-scrubbed-OlymDmHpy" totalcount="4" offset="10" count="7008"
        numremaining="10"><WAREHOUSE><RECORDNO>1</RECORDNO><LOCATIONID>-Fallback-scrubbed-KVC</LOCATIONID><NAME>Fake-Rachael
        Blair</NAME><PARENTID></PARENTID><WAREHOUSEID>-Fallback-scrubbed-KVC</WAREHOUSEID><LOC.LOCATIONID>162</LOC.LOCATIONID><MANAGER.NAME>Fake-Michael
        Ward</MANAGER.NAME><MANAGERID>5339</MANAGERID><CONTACTINFO.CONTACTNAME>-Fallback-scrubbed-IDLpsdRruRp</CONTACTINFO.CONTACTNAME><SHIPTO.CONTACTNAME></SHIPTO.CONTACTNAME><USEDINGL>true</USEDINGL><STATUS>active</STATUS><ENABLE_REPLENISHMENT>true</ENABLE_REPLENISHMENT><ENABLENEGATIVEINV>false</ENABLENEGATIVEINV><WHENCREATED>07/14/2004
        10:25:57</WHENCREATED><WHENMODIFIED>09/15/2022 18:03:21</WHENMODIFIED><CREATEDBY>4125</CREATEDBY><MODIFIEDBY>720</MODIFIEDBY><SI_UUID></SI_UUID><CREATEDBYLOGINID>-Fallback-scrubbed-XqikzlBG</CREATEDBYLOGINID><MODIFIEDBYLOGINID>-Fallback-scrubbed-AgGl</MODIFIEDBYLOGINID><MEGAENTITYKEY></MEGAENTITYKEY><MEGAENTITYID></MEGAENTITYID><MEGAENTITYNAME></MEGAENTITYNAME><RECORD_URL>-Fallback-scrubbed-qrXMgzUnPPldZqzHxsZHpYXRMOobKQIdsdHSrSXnwBdSJPIlvvoJIFbkxGioDooZxaCJWaaDmjEnaYuTKzaPuNm</RECORD_URL></WAREHOUSE><WAREHOUSE><RECORDNO>2</RECORDNO><LOCATIONID>-Fallback-scrubbed-OFb</LOCATIONID><NAME>Fake-Felicia
        Brown</NAME><PARENTID></PARENTID><WAREHOUSEID>-Fallback-scrubbed-OFb</WAREHOUSEID><LOC.LOCATIONID>7277</LOC.LOCATIONID><MANAGER.NAME>Fake-Michael
        Ward</MANAGER.NAME><MANAGERID>5339</MANAGERID><CONTACTINFO.CONTACTNAME>-Fallback-scrubbed-THRnArYmomx</CONTA[...]
[...]
