interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="21f8612f-ee6f-47a0-a68e-b25cfba615d8"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2015-07-12
        18:25:55</controlid><uniqueid>false</uniqueid><dtdversion>-23233649.5683328</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1999-08-10T21:55:33+00:00</sessiontimestamp><sessiontimeout>2020-11-22T15:58:36+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-hYnpGnquhUnrH</function><controlid>-Fallback-scrubbed-ZbUTwvScWctWSdJjEXSYFwOMakSNcMtQCeQL</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="98d89266-7410-4178-a443-6b4ed145524e"><query><object>GLBATCH</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>06/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2015-07-12
        18:25:55</controlid><uniqueid>false</uniqueid><dtdversion>-23233649.5683328</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1976-11-04T17:20:44+00:00</sessiontimestamp><sessiontimeout>1989-10-08T13:03:15+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-DbWsV</function><controlid>-Fallback-scrubbed-GgkHHrHrtIUWeqMtZvqfRlIkxkAmHvhLDHoz</controlid><data
        listtype="-Fallback-scrubbed-lIeLsxd" totalcount="10" offset="3321" count="4977"
        numremaining="1315"><GLBATCH><RECORDNO>3155</RECORDNO></GLBATCH></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
[...]
