interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="d5441710-fec1-47cc-bcd9-7d522cfa06eb"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1989-04-13
        14:08:54</controlid><uniqueid>true</uniqueid><dtdversion>-83.3706145399939</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1995-02-25T17:06:19+00:00</sessiontimestamp><sessiontimeout>1999-12-12T21:50:23+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-rPmgaTuujgYbR</function><controlid>-Fallback-scrubbed-xvmIutsSOStGxNHaAaopDlEnZXpyLLbynJjb</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="f3bbce61-4ed1-406b-8c14-c73461dd1200"><query><object>GLBATCH</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>06/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1989-04-13
        14:08:54</controlid><uniqueid>true</uniqueid><dtdversion>-83.3706145399939</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1981-02-02T18:12:08+00:00</sessiontimestamp><sessiontimeout>1978-03-30T02:21:52+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-GfAoU</function><controlid>-Fallback-scrubbed-vKvlbqdAnKhRbvSwcAuiDoBfzxtvdDvVALlX</controlid><data
        listtype="-Fallback-scrubbed-gtsksHN" totalcount="10" offset="9328" count="9574"
        numremaining="6179"><GLBATCH><RECORDNO>3155</RECORDNO></GLBATCH></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
[...]
