interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="47619792-1235-49c9-8fc4-21d2628926c8"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2006-02-20
        09:20:02</controlid><uniqueid>false</uniqueid><dtdversion>-1852.58273912441</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2022-11-07T09:49:50+00:00</sessiontimestamp><sessiontimeout>1972-03-19T05:48:36+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-JAOIHaEItixOP</function><controlid>-Fallback-scrubbed-dvVRTSqvMrEigCAtsHsiJeKjUptXCmxKCXsJ</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="3e6ac73e-7492-4ff1-aa5b-80414a3a1a6e"><query><object>TASK</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>07/01/2025
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2006-02-20
        09:20:02</controlid><uniqueid>false</uniqueid><dtdversion>-1852.58273912441</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2009-12-27T01:10:08+00:00</sessiontimestamp><sessiontimeout>2025-12-25T18:04:23+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-mwmeC</function><controlid>-Fallback-scrubbed-USUJwtlkbTJzUMIdkdWOYrvwfjoITXcBmbKb</controlid><data
        listtype="-Fallback-scrubbed-BtXB" totalcount="1" offset="4968" count="3766"
        numremaining="4968"><TASK><RECORDNO>25</RECORDNO></TASK></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
