interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="966cdcd2-c8bf-4aed-ae68-62ba2f246b85"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1971-05-30
        01:26:48</controlid><uniqueid>true</uniqueid><dtdversion>-8678715.96483785</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2020-03-30T05:52:37+00:00</sessiontimestamp><sessiontimeout>2011-12-08T10:21:43+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-OyBkVSjifZIhC</function><controlid>-Fallback-scrubbed-vHjyHnEgAvQGkPpmgeVizyyWxbgLNVXZJLRl</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="28917126-ee17-48f6-82ab-3bb7fbfb9f74"><query><object>PODOCUMENT</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>10/15/2025
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1971-05-30
        01:26:48</controlid><uniqueid>true</uniqueid><dtdversion>-8678715.96483785</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1971-04-03T00:42:36+00:00</sessiontimestamp><sessiontimeout>1995-01-18T05:31:09+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-eGtBv</function><controlid>-Fallback-scrubbed-TqGHAmpUxgomYzVGTYifIFsQeOrhafmbEmri</controlid><data
        listtype="-Fallback-scrubbed-AVdVJBjCKL" totalcount="18" offset="2586" count="34"
        numremaining="5112"><PODOCUMENT><RECORDNO>2089</RECORDNO></PODOCUMENT></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.08'
    status:
      code: 200
      message: OK
[...]
