interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="3d45eec1-b8a9-4d03-85a9-8a9485ea922b"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2001-05-09
        18:53:22</controlid><uniqueid>false</uniqueid><dtdversion>-3454689.8963953</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2022-03-26T13:25:55+00:00</sessiontimestamp><sessiontimeout>2019-11-25T19:08:36+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-XKywOjDctaKDG</function><controlid>-Fallback-scrubbed-mvEKadiREVwrSxeaGnyAnQQspqLlAgkvsXAl</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="7951752a-47fa-4f24-afd1-5d182993825e"><query><object>PODOCUMENT</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>10/15/2025
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2001-05-09
        18:53:22</controlid><uniqueid>false</uniqueid><dtdversion>-3454689.8963953</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1994-09-28T05:38:33+00:00</sessiontimestamp><sessiontimeout>2009-01-13T09:26:45+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-uXHYu</function><controlid>-Fallback-scrubbed-kmXxcZhogLjKrPvJlprSDJeslTOomPnpNUhF</controlid><data
        listtype="-Fallback-scrubbed-uHlZUlGnVG" totalcount="18" offset="7827" count="2086"
        numremaining="7946"><PODOCUMENT><RECORDNO>2096</RECORDNO></PODOCUMENT></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
