interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="01f06d94-2849-4f0c-853d-68b6c122c678"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1989-04-23
        23:56:45</controlid><uniqueid>true</uniqueid><dtdversion>-960604.918600943</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1974-07-17T18:47:13+00:00</sessiontimestamp><sessiontimeout>1983-10-13T00:48:10+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-arMVLqczLhONx</function><controlid>-Fallback-scrubbed-hcaygCyFScbYKOEavUprHfySOajePvcrADNJ</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="18e920a1-7771-4a95-a23d-fda5f9e0f686"><query><object>FIXEDASSET</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1989-04-23
        23:56:45</controlid><uniqueid>true</uniqueid><dtdversion>-960604.918600943</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1974-07-17T18:47:13+00:00</sessiontimestamp><sessiontimeout>1983-10-13T00:48:10+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-WCFnF</function><controlid>-Fallback-scrubbed-gQEvsDGCHVrcwrbmrDCtnOtMqSdawqGvJSgL</controlid><data
        listtype="-Fallback-scrubbed-XQZUjMplxk" totalcount="1" offset="3443" count="8556"
        numremaining="3443"><FIXEDASSET><RECORDNO>31</RECORDNO></FIXEDASSET></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="93e247d8-73ca-459b-b7f7-071c86476896"><query><object>FIXEDASSET</object><select><field>RECORDNO</field><field>NAME</field><field>STATUS</field><field>PARENTKEY</field><field>PARENT.NAME</field><field>WHENCREATED</field><field>WHENMODIFIED</field><field>CREATEDBY</field><field>MODIFIEDBY</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1989-04-23
        23:56:45</controlid><uniqueid>true</uniqueid><dtdversion>-960604.918600943</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1970-03-23T02:17:23+00:00</sessiontimestamp><sessiontimeout>2013-12-19T18:31:47+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-WCFnF</function><controlid>-Fallback-scrubbed-ULHMdUHmjcwsveZuUCTvAZlzwdYZgmsfRNwW</controlid><data
        listtype="-Fallback-scrubbed-XQZUjMplxk" totalcount="1" offset="3443" count="8556"
        numremaining="3443"><FIXEDASSET><RECORDNO>31</RECORDNO><NAME>Fake-Cynthia
        Chandler</NAME><STATUS>active</STATUS><PARENTKEY></PARENTKEY><PARENT.NAME></PARENT.NAME><WHENCREATED>11/12/2017</WHENCREATED><WHENMODIFIED>02/28/2026</WHENMODIFIED><CREATEDBY>3035</CREATEDBY><MODIFIEDBY>3035</MODIFIEDBY><RECORD_URL>-Fallback-scrubbed-bZBlZkuyvpUEYjAzTgbwSXWBYVrbDbDwHcVSsfrDIrzbdmUCEIMUblFCxNVlZeAbzdsWBEfrkCoYiJwpWayXAjm</RECORD_URL></FIXEDASSET></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
[...]
