interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="95e73216-4aa0-4899-b3d5-141af3012a41"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1976-08-18
        21:10:47</controlid><uniqueid>true</uniqueid><dtdversion>-9522204752209.71</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2007-08-13T00:00:21+00:00</sessiontimestamp><sessiontimeout>2003-09-17T22:03:22+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-ZkhMQouiWOcNw</function><controlid>-Fallback-scrubbed-nvyxPEsbtMuhvdwpgAupFgQDNlaoEPRYukql</controlid><data><api><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.03'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="046135c3-05f2-4660-bef1-b49859a2bf57"><query><object>FIXEDASSET</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1976-08-18
        21:10:47</controlid><uniqueid>true</uniqueid><dtdversion>-9522204752209.71</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1983-11-06T11:12:56+00:00</sessiontimestamp><sessiontimeout>2007-11-23T05:29:32+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-oBJNE</function><controlid>-Fallback-scrubbed-qddmQHcEDicSDiTSfttpuRgVSSRVGFplTtrr</controlid><data
        listtype="-Fallback-scrubbed-pKfvHCUhGa" totalcount="1" offset="3856" count="4716"
        numremaining="3856"><FIXEDASSET><RECORDNO>31</RECORDNO></FIXEDASSET></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="fb0d8737-0b0f-4ad0-b703-70f2e4ecdd86"><query><object>FIXEDASSET</object><select><field>RECORDNO</field><field>NAME</field><field>STATUS</field><field>PARENTKEY</field><field>PARENT.NAME</field><field>WHENCREATED</field><field>WHENMODIFIED</field><field>CREATEDBY</field><field>MODIFIEDBY</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1976-08-18
        21:10:47</controlid><uniqueid>true</uniqueid><dtdversion>-9522204752209.71</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1985-02-23T02:45:52+00:00</sessiontimestamp><sessiontimeout>1987-04-13T02:40:54+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-oBJNE</function><controlid>-Fallback-scrubbed-GxGqHfwycGnZROSJZOSfWITrKOESQrQWfFSW</controlid><data
        listtype="-Fallback-scrubbed-pKfvHCUhGa" totalcount="1" offset="3856" count="4716"
        numremaining="3856"><FIXEDASSET><RECORDNO>31</RECORDNO><NAME>Jennifer Anderson</NAME><STATUS>-Fallback-scrubbed-fXjUUb</STATUS><PARENTKEY></PARENTKEY><PARENT.NAME></PARENT.NAME><WHENCREATED>02/08/2002</WHENCREATED><WHENMODIFIED>02/28/2026</WHENMODIFIED><CREATEDBY>9809</CREATEDBY><MODIFIEDBY>9809</MODIFIEDBY><RECORD_URL>-Fallback-scrubbed-MFpznyOlvWOXuQlncyFeoUXClVsQOBfyJgrOGrYfWoUtBZNhPPkqADTlgxWWOjgRxCYIizOfibTZXYgrvWaZwfJ</RECORD_URL></FIXEDASSET></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
[...]
