interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="595640ca-ec2c-47f2-ab0f-8e3397a6c200"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1984-12-27
        21:56:34</controlid><uniqueid>true</uniqueid><dtdversion>-927417063721.222</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2019-11-30T15:10:13+00:00</sessiontimestamp><sessiontimeout>1998-08-21T14:18:28+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-ZxSEPlMcivPBA</function><controlid>-Fallback-scrubbed-mCBPgROLOtsMDhbIhVJFMGUEwvVkUZdautTW</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="c378e70e-391f-4455-8901-2b3dfb8ae888"><query><object>FIXEDASSET</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1984-12-27
        21:56:34</controlid><uniqueid>true</uniqueid><dtdversion>-927417063721.222</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2007-10-19T18:17:13+00:00</sessiontimestamp><sessiontimeout>2012-11-30T14:54:59+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-JuiXT</function><controlid>-Fallback-scrubbed-fakQtONPKlxUZCKzAVPwGbuEgNcnYxUjvKug</controlid><data
        listtype="-Fallback-scrubbed-owYTYtrEkv" totalcount="1" offset="2563" count="2174"
        numremaining="2563"><FIXEDASSET><RECORDNO>31</RECORDNO></FIXEDASSET></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="7adacf63-ad02-4de3-a905-aff5e732a8a3"><query><object>FIXEDASSET</object><select><field>RECORDNO</field><field>NAME</field><field>STATUS</field><field>PARENTKEY</field><field>PARENT.NAME</field><field>WHENCREATED</field><field>WHENMODIFIED</field><field>CREATEDBY</field><field>MODIFIEDBY</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1984-12-27
        21:56:34</controlid><uniqueid>true</uniqueid><dtdversion>-927417063721.222</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2007-05-23T17:03:12+00:00</sessiontimestamp><sessiontimeout>2007-01-29T23:04:28+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-JuiXT</function><controlid>-Fallback-scrubbed-oDpZvsLnIWmfDDfpxaKeHOCvrmpGeyNQiKQN</controlid><data
        listtype="-Fallback-scrubbed-owYTYtrEkv" totalcount="1" offset="2563" count="2174"
        numremaining="2563"><FIXEDASSET><RECORDNO>31</RECORDNO><NAME>Fake-Amber Parker</NAME><STATUS>active</STATUS><PARENTKEY></PARENTKEY><PARENT.NAME></PARENT.NAME><WHENCREATED>09/14/1985</WHENCREATED><WHENMODIFIED>02/28/2026</WHENMODIFIED><CREATEDBY>9067</CREATEDBY><MODIFIEDBY>9067</MODIFIEDBY><RECORD_URL>-Fallback-scrubbed-tbQsmPntODJjEFYaarzlLtiBTxlUMdUIRCqOfnWlzxyELZpxSDaGkkwrLMsZYZjHaSaFXhPdcBiGTlHAgJtTMWN</RECORD_URL></FIXEDASSET></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
