interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="0bb6281e-98b4-4b7e-9122-3939d1383acc"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2003-08-10
        15:12:17</controlid><uniqueid>false</uniqueid><dtdversion>26894.851558761</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1976-11-24T03:43:28+00:00</sessiontimestamp><sessiontimeout>1976-10-16T10:43:04+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-sUIKWhpkylVOO</function><controlid>-Fallback-scrubbed-fnBErXkUZPYXWogHoBsjweBctKpDGHwefPwD</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="c9438829-63fc-4374-9849-87160fcee88d"><query><object>APADJUSTMENT</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2003-08-10
        15:12:17</controlid><uniqueid>false</uniqueid><dtdversion>26894.851558761</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1974-12-10T15:55:06+00:00</sessiontimestamp><sessiontimeout>1978-08-25T06:31:00+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-usjJx</function><controlid>-Fallback-scrubbed-FxMioktLiCtaMyhYeslNiIhKLSCJwoddOniq</controlid><data
        listtype="-Fallback-scrubbed-ZcYExtTlTZzo" totalcount="13" offset="989" count="8697"
        numremaining="5864"><APADJUSTMENT><RECORDNO>1881</RECORDNO></APADJUSTMENT></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
[...]
