interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="e79e59d5-afe5-4364-8dc8-1533f2734f82"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2000-01-11
        05:34:36</controlid><uniqueid>true</uniqueid><dtdversion>27.1808578647631</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1983-05-29T15:53:04+00:00</sessiontimestamp><sessiontimeout>1996-06-26T02:05:29+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-oGZiGqatxxrqR</function><controlid>-Fallback-scrubbed-LTqeSFKfRtwXXTpGxKITILvyztSgGPElvzDh</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.04'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="d9e78ec6-6fca-42b9-920c-561ebd189840"><query><object>LOCATION</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2000-01-11
        05:34:36</controlid><uniqueid>true</uniqueid><dtdversion>27.1808578647631</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1970-01-13T02:52:13+00:00</sessiontimestamp><sessiontimeout>2007-10-01T08:55:42+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-OpGyO</function><controlid>-Fallback-scrubbed-SqxqAdJcMvwitUplrPGMoxIqOEfUmWhVcDVF</controlid><data
        listtype="-Fallback-scrubbed-erBRGXFH" totalcount="6" offset="3482" count="2060"
        numremaining="2682"><LOCATION><RECORDNO>17</RECORDNO></LOCATION></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.06'
    status:
      code: 200
      message: OK
[...]
