interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="1754f9f6-71fe-4e4c-9447-64b09d85b3cc"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1995-11-21
        08:15:43</controlid><uniqueid>true</uniqueid><dtdversion>56861012051670.9</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1992-03-02T21:45:23+00:00</sessiontimestamp><sessiontimeout>2020-08-08T20:00:18+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-ZXrhTkKDPwssy</function><controlid>-Fallback-scrubbed-ZQpDzuVTHXeATdUQucaGjfQiPixizVfshCgc</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="60d580d8-a982-4c7a-8377-e5ea02282e9d"><query><object>LOCATION</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1995-11-21
        08:15:43</controlid><uniqueid>true</uniqueid><dtdversion>56861012051670.9</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1986-08-25T13:05:50+00:00</sessiontimestamp><sessiontimeout>1987-07-08T12:22:03+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-nCYBT</function><controlid>-Fallback-scrubbed-FthhqsUrjNdEvuAxAONFQWKIypetVKyTfwGc</controlid><data
        listtype="-Fallback-scrubbed-vMVgGGyU" totalcount="0" offset="9755" count="9755"
        numremaining="9755"></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0'
    status:
      code: 200
      message: OK
[...]
