interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="3a6fff64-78bd-4ec4-a904-b512851c70f9"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1970-07-25
        06:34:08</controlid><uniqueid>true</uniqueid><dtdversion>-23039734385.65</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1994-04-01T15:09:14+00:00</sessiontimestamp><sessiontimeout>2003-06-30T00:40:13+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-jFzSaGBYoIWbE</function><controlid>-Fallback-scrubbed-lqflBdwWSgdDZEppcqAayQXnnzULmFyEShdM</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="4cbbc96e-ee85-419d-98f5-5d0308450f65"><query><object>CHECKINGACCOUNT</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1970-07-25
        06:34:08</controlid><uniqueid>true</uniqueid><dtdversion>-23039734385.65</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2016-10-08T12:00:04+00:00</sessiontimestamp><sessiontimeout>2022-08-08T17:26:06+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-HlWBz</function><controlid>-Fallback-scrubbed-fDkPthZghRXPYvuDvtrVXLnOEGxtfjaVespm</controlid><data
        listtype="-Fallback-scrubbed-bYOMUCUMbGKtNox" totalcount="3" offset="2840"
        count="8846" numremaining="6823"><CHECKINGACCOUNT><RECORDNO>1</RECORDNO></CHECKINGACCOUNT></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
