interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="f285cc50-46dc-4756-a4c6-f8b0dae43c34"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1971-02-12
        23:25:01</controlid><uniqueid>false</uniqueid><dtdversion>35962442099.8469</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1999-02-17T13:21:45+00:00</sessiontimestamp><sessiontimeout>2001-11-19T16:05:18+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-bWHhchQBPEyJR</function><controlid>-Fallback-scrubbed-EFMDzVGEJYnWqErMoUqAvPktMlbpFUEsuSSg</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="a8ec1650-9a1a-421f-a01a-06c32f7bd6aa"><getDimensions></getDimensions></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1971-02-12
        23:25:01</controlid><uniqueid>false</uniqueid><dtdversion>35962442099.8469</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2004-05-21T03:42:26+00:00</sessiontimestamp><sessiontimeout>2026-06-21T13:53:58+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-LygBhwbSXlvST</function><controlid>-Fallback-scrubbed-CoxOzZsCFFdbaUrBJhTOeCrqtbBSDelZYzZs</controlid><data><dimensions><dimension><objectName>DEPARTMENT</objectName><objectLabel>-Fallback-scrubbed-ifLLmychXn</objectLabel><termLabel>-Fallback-scrubbed-ifLLmychXn</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>true</enabledInGL></dimension><dimension><objectName>LOCATION</objectName><objectLabel>-Fallback-scrubbed-FmmGmKxG</objectLabel><termLabel>-Fallback-scrubbed-FmmGmKxG</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>true</enabledInGL></dimension><dimension><objectName>PROJECT</objectName><objectLabel>-Fallback-scrubbed-bplTWuL</objectLabel><termLabel>-Fallback-scrubbed-bplTWuL</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>true</enabledInGL></d[...]
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="5bc39d06-c987-468d-b593-9fc38f6caa45"><query><object>DIMENSION</object><select><field>id</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>updatedAt</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>updatedAt</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1971-02-12
        23:25:01</controlid><uniqueid>false</uniqueid><dtdversion>35962442099.8469</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2014-02-15T07:24:22+00:00</sessiontimestamp><sessiontimeout>2021-04-02T19:22:40+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-bAlnU</function><controlid>-Fallback-scrubbed-JopmgZhSWutDjIzebUckFHKrZyDTjxSXiZFL</controlid><data
        listtype="-Fallback-scrubbed-pHZLQFlsP" totalcount="1" offset="8799" count="7082"
        numremaining="8799"><DIMENSION><id>10015</id></DIMENSION></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="55817262-fe18-4ab7-9e98-7af6ccf39f37"><query><object>DIMENSION</object><select><field>id</field><field>name</field><field>createdBy</field><field>createdAt</field><field>updatedBy</field><field>updatedAt</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>updatedAt</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>updatedAt</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1971-02-12
        23:25:01</controlid><uniqueid>false</uniqueid><dtdversion>35962442099.8469</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1992-02-10T01:10:12+00:00</sessiontimestamp><sessiontimeout>2001-12-19T08:43:20+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-bAlnU</function><controlid>-Fallback-scrubbed-pROdnByOZBvNxukxKHpUFkIvDHLtlDglzptB</controlid><data
        listtype="-Fallback-scrubbed-pHZLQFlsP" totalcount="1" offset="8799" count="7082"
        numremaining="8799"><DIMENSION><id>10015</id><name>-Fallback-scrubbed-YHsrwJdRR</name><createdBy>3458</createdBy><createdAt>04/04/2016
        08:20:52</createdAt><updatedBy>3458</updatedBy><updatedAt>03/11/2026 20:18:02</updatedAt><RECORD_URL>-Fallback-scrubbed-FJjLfCKJZaRSQzaNeItLHwFDfCEsBababcNeADJKPxmTQFFtyfEEBeoYvpPWZhdiOExcQZqLAHcJykjqAcuTxBo</RECORD_URL></DIMENSION></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
