interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="3b09e656-10f1-46e8-baed-d69b1ab6990e"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2023-05-20
        05:34:52</controlid><uniqueid>true</uniqueid><dtdversion>5.17072951553458</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2002-11-22T07:42:50+00:00</sessiontimestamp><sessiontimeout>2023-03-30T18:34:59+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-skcvZqXEpqCQJ</function><controlid>-Fallback-scrubbed-yMgpenzhbyJBQdREbwEaYjdfkwbvTlxPdkPB</controlid><data><api><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.05'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="3ef03c59-6b18-4b2b-9936-2a76039527fe"><getDimensions></getDimensions></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2023-05-20
        05:34:52</controlid><uniqueid>true</uniqueid><dtdversion>5.17072951553458</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2018-08-19T20:42:15+00:00</sessiontimestamp><sessiontimeout>1974-04-02T01:48:26+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-JNUqfFcBjRPju</function><controlid>-Fallback-scrubbed-KZfsuNarzGIDtDlLOBmrCtHTfhqXXQInVHsY</controlid><data><dimensions><dimension><objectName>DEPARTMENT</objectName><objectLabel>-Fallback-scrubbed-xSkHcrsUyV</objectLabel><termLabel>-Fallback-scrubbed-xSkHcrsUyV</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>false</enabledInGL></dimension><dimension><objectName>LOCATION</objectName><objectLabel>-Fallback-scrubbed-lMVreZFe</objectLabel><termLabel>-Fallback-scrubbed-lMVreZFe</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>false</enabledInGL></dimension><dimension><objectName>PROJECT</objectName><objectLabel>-Fallback-scrubbed-jiJRZZz</objectLabel><termLabel>-Fallback-scrubbed-jiJRZZz</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>false</enabledInGL>[...]
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="2f0819c0-94f5-4452-8a19-a76ead1344f1"><query><object>DIMENSION</object><select><field>id</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>updatedAt</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>updatedAt</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2023-05-20
        05:34:52</controlid><uniqueid>true</uniqueid><dtdversion>5.17072951553458</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2018-08-19T20:42:15+00:00</sessiontimestamp><sessiontimeout>1974-04-02T01:48:26+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-RxGBl</function><controlid>-Fallback-scrubbed-WmAJhRVSHtXVUcWMWlOsvUcvQSLgXHZCsnvs</controlid><data
        listtype="-Fallback-scrubbed-uOvPAlnXh" totalcount="1" offset="455" count="5276"
        numremaining="455"><DIMENSION><id>10015</id></DIMENSION></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="aec2ce28-18a8-4f37-98fc-f8f6bd00782c"><query><object>DIMENSION</object><select><field>id</field><field>name</field><field>createdBy</field><field>createdAt</field><field>updatedBy</field><field>updatedAt</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>updatedAt</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>updatedAt</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2023-05-20
        05:34:52</controlid><uniqueid>true</uniqueid><dtdversion>5.17072951553458</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2005-11-02T19:42:10+00:00</sessiontimestamp><sessiontimeout>1976-12-08T10:22:39+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-RxGBl</function><controlid>-Fallback-scrubbed-cCebbAwJYixJtRHcPpRMZuJTNVKOlcysZccx</controlid><data
        listtype="-Fallback-scrubbed-uOvPAlnXh" totalcount="1" offset="455" count="5276"
        numremaining="455"><DIMENSION><id>10015</id><name>-Fallback-scrubbed-EJqWXJTso</name><createdBy>6711</createdBy><createdAt>12/15/1985
        14:49:24</createdAt><updatedBy>6711</updatedBy><updatedAt>03/11/2026 20:18:02</updatedAt><RECORD_URL>-Fallback-scrubbed-mWzokvModBjqOoZkyUGuhwJmRHnfVWbLNIilyfvshpRWGKHIvDhwqDchcbgSpiYVJeVUbBhjRxubfCZyRdKaPyT</RECORD_URL></DIMENSION></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.03'
    status:
      code: 200
      message: OK
[...]
