interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="90d1029e-04eb-44d6-9209-3b753ef58f4b"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2010-05-27
        23:53:13</controlid><uniqueid>false</uniqueid><dtdversion>5731103881.26323</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1991-07-24T17:03:54+00:00</sessiontimestamp><sessiontimeout>2006-02-26T22:12:41+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-slXRUOIENWgBw</function><controlid>-Fallback-scrubbed-EwKbwGvWcXbOjOptARmgKKYEiEsYVNOzmJLa</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.06'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="83c22f0a-1cd2-4069-9bf5-47e038271f3f"><getDimensions></getDimensions></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2010-05-27
        23:53:13</controlid><uniqueid>false</uniqueid><dtdversion>5731103881.26323</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1988-07-22T14:33:32+00:00</sessiontimestamp><sessiontimeout>2010-01-03T22:33:04+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-teoalQLICZqvQ</function><controlid>-Fallback-scrubbed-LmqolPsSEugDkMGtNQgtpDasflhcKMcwNPVz</controlid><data><dimensions><dimension><objectName>DEPARTMENT</objectName><objectLabel>-Fallback-scrubbed-kQiJFWTCOH</objectLabel><termLabel>-Fallback-scrubbed-kQiJFWTCOH</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>false</enabledInGL></dimension><dimension><objectName>LOCATION</objectName><objectLabel>-Fallback-scrubbed-SSMPsoIs</objectLabel><termLabel>-Fallback-scrubbed-SSMPsoIs</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>false</enabledInGL></dimension><dimension><objectName>PROJECT</objectName><objectLabel>-Fallback-scrubbed-xrUwboX</objectLabel><termLabel>-Fallback-scrubbed-xrUwboX</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>false</enabledInGL>[...]
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="07457c1e-2432-4ee8-9ca7-c23ff8451646"><query><object>DIMENSION</object><select><field>id</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>updatedAt</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>updatedAt</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2010-05-27
        23:53:13</controlid><uniqueid>false</uniqueid><dtdversion>5731103881.26323</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1991-10-17T17:13:11+00:00</sessiontimestamp><sessiontimeout>2026-08-25T15:54:05+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-aCrYF</function><controlid>-Fallback-scrubbed-cSTvvkuYtcwoOMhgGBiHJEqCsjimLAEGzraY</controlid><data
        listtype="-Fallback-scrubbed-xbAZbXhDe" totalcount="1" offset="7929" count="7552"
        numremaining="7929"><DIMENSION><id>10015</id></DIMENSION></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.04'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="7e426c6b-cc09-42b1-9281-9456f5444a1f"><query><object>DIMENSION</object><select><field>id</field><field>name</field><field>createdBy</field><field>createdAt</field><field>updatedBy</field><field>updatedAt</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>updatedAt</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>updatedAt</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2010-05-27
        23:53:13</controlid><uniqueid>false</uniqueid><dtdversion>5731103881.26323</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1991-10-17T17:13:11+00:00</sessiontimestamp><sessiontimeout>2026-08-25T15:54:05+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-aCrYF</function><controlid>-Fallback-scrubbed-pAaBSmbtwruJtZrmoEwDjqKLyptvfeCmHNNT</controlid><data
        listtype="-Fallback-scrubbed-xbAZbXhDe" totalcount="1" offset="7929" count="7552"
        numremaining="7929"><DIMENSION><id>10015</id><name>-Fallback-scrubbed-PFyRftTwW</name><createdBy>9437</createdBy><createdAt>03/16/1995
        12:57:59</createdAt><updatedBy>9437</updatedBy><updatedAt>03/11/2026 20:18:02</updatedAt><RECORD_URL>-Fallback-scrubbed-wJhmsfYdfboDUxatzZszsklIazPPRvVsFgYLiQnfDBqLQDHuixiUGJswlRaxNNBYhgXhDtdNfjhnHnIaekrKiex</RECORD_URL></DIMENSION></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
