interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="a0bf55ba-d6d7-482a-af80-442acde61401"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1972-03-17
        23:47:47</controlid><uniqueid>false</uniqueid><dtdversion>6156.83613821702</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1992-03-31T21:15:43+00:00</sessiontimestamp><sessiontimeout>1974-01-09T08:13:47+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-DzqxpTmueOOmY</function><controlid>-Fallback-scrubbed-cPcIeYIQdwIBdVSwiDyumkGAZitZvWjwfHek</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="a43ceae2-95bd-4217-9837-a998cc16641c"><query><object>ARINVOICE</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>07/01/2025
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1972-03-17
        23:47:47</controlid><uniqueid>false</uniqueid><dtdversion>6156.83613821702</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1970-02-04T13:32:17+00:00</sessiontimestamp><sessiontimeout>1978-03-22T07:56:37+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-EcLxY</function><controlid>-Fallback-scrubbed-OEttskYjwoUImWhmZtYwJVMSqwvGHKRireMQ</controlid><data
        listtype="-Fallback-scrubbed-bCJodSMLk" totalcount="9" offset="4684" count="4013"
        numremaining="9751"><ARINVOICE><RECORDNO>1628</RECORDNO></ARINVOICE></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.04'
    status:
      code: 200
      message: OK
[...]
