interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="dbd590c0-b49a-42a4-81dd-d9e1151f244b"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2017-01-12
        06:48:06</controlid><uniqueid>true</uniqueid><dtdversion>-557.801473967273</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1987-12-31T02:29:08+00:00</sessiontimestamp><sessiontimeout>1986-10-07T22:49:13+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-HpDFCmsnjWfUc</function><controlid>-Fallback-scrubbed-bnUUrmEBBkWJnQWYqtsafYoKeXCMcUDpPqZg</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="e10ed426-0efa-41ae-b112-dc06ab4750ac"><query><object>ARINVOICE</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>07/01/2025
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2017-01-12
        06:48:06</controlid><uniqueid>true</uniqueid><dtdversion>-557.801473967273</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1999-09-18T16:17:41+00:00</sessiontimestamp><sessiontimeout>2009-11-19T22:55:56+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-bsSJj</function><controlid>-Fallback-scrubbed-PDIZWfIvDSTLloTuKgLPDmVrAFQGPEmrQwQh</controlid><data
        listtype="-Fallback-scrubbed-akdWtSGjn" totalcount="9" offset="442" count="8861"
        numremaining="9073"><ARINVOICE><RECORDNO>1628</RECORDNO></ARINVOICE></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
