interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="71b78a5c-7643-4751-9c65-a2f021dccc05"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2018-09-06
        09:19:49</controlid><uniqueid>false</uniqueid><dtdversion>984.687377546197</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1979-05-11T14:26:20+00:00</sessiontimestamp><sessiontimeout>1998-09-04T05:31:00+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-sqMJnocWZXcSG</function><controlid>-Fallback-scrubbed-NdhvIqkcOUJsdueVdzdeEbHRzWrDGUgKqwlY</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="d71294d2-a5a9-49c4-b0a4-af90a4f471c8"><query><object>LOCATIONENTITY</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2018-09-06
        09:19:49</controlid><uniqueid>false</uniqueid><dtdversion>984.687377546197</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1981-06-12T18:54:29+00:00</sessiontimestamp><sessiontimeout>2002-09-29T01:15:58+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-ABMKK</function><controlid>-Fallback-scrubbed-SnBACkmzTccvMFIHNeFGFVuajEVJIRgrjqsO</controlid><data
        listtype="-Fallback-scrubbed-qtIiFUKgwuDRLQ" totalcount="0" offset="9758"
        count="9758" numremaining="9758"></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.04'
    status:
      code: 200
      message: OK
[...]
