interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="eb030b36-1ed2-4c70-b7d9-5d93636050c9"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1983-10-06
        18:45:00</controlid><uniqueid>true</uniqueid><dtdversion>40491210.7587346</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2021-12-23T17:47:44+00:00</sessiontimestamp><sessiontimeout>2021-08-22T20:20:41+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-sWAQVrVFPoFea</function><controlid>-Fallback-scrubbed-YRBeJKQeGuDswgzzSHXKuAtHbWLUsVlRifRr</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="767a6d28-b6d5-4fc9-9ea0-61677baa8053"><query><object>LOCATIONENTITY</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1983-10-06
        18:45:00</controlid><uniqueid>true</uniqueid><dtdversion>40491210.7587346</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2011-02-02T02:39:46+00:00</sessiontimestamp><sessiontimeout>1983-08-02T18:28:42+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-PbOSa</function><controlid>-Fallback-scrubbed-UFWVxElnodAkLbQEtHJgkXglEcSZJdHCMZoY</controlid><data
        listtype="-Fallback-scrubbed-aWZgsJVkOZDaSo" totalcount="3" offset="1514"
        count="2624" numremaining="4705"><LOCATIONENTITY><RECORDNO>17</RECORDNO></LOCATIONENTITY></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
