interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="9e3705a0-e69c-4a6b-8b92-57f4c58478b9"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1976-08-11
        21:32:03</controlid><uniqueid>false</uniqueid><dtdversion>24248566402537.3</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1999-07-11T18:56:35+00:00</sessiontimestamp><sessiontimeout>1989-10-05T20:17:08+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-MiTVMiBKqfhnd</function><controlid>-Fallback-scrubbed-ZbLGusMSHDwFDiniNiXYzyMSepvKHCqUREVl</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="ae9d2dd0-5d95-4b0d-85d1-144a75b618ed"><query><object>APBILLITEM</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>06/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1976-08-11
        21:32:03</controlid><uniqueid>false</uniqueid><dtdversion>24248566402537.3</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2007-10-27T23:29:54+00:00</sessiontimestamp><sessiontimeout>1988-05-30T13:03:28+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-LgaHK</function><controlid>-Fallback-scrubbed-SJSdhPPDIDOARzajwgdBpKvNCcISZNSENhFf</controlid><data
        listtype="-Fallback-scrubbed-VYeIGvWzkH" totalcount="3" offset="3863" count="9012"
        numremaining="4874"><APBILLITEM><RECORDNO>27161</RECORDNO></APBILLITEM></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
