interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="d9f2d8af-a989-438e-bab0-81d669481b61"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1971-12-29
        22:06:58</controlid><uniqueid>true</uniqueid><dtdversion>-763667.927896293</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1973-08-14T01:23:39+00:00</sessiontimestamp><sessiontimeout>1986-10-01T12:40:13+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-AZACELLWktpnI</function><controlid>-Fallback-scrubbed-LwgDALcCPgbeytkwHbbokrDYBKQChdVCygxc</controlid><data><api><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="38689bd4-02a3-4a68-ae33-5d4076cdcb75"><query><object>APBILLITEM</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>06/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1971-12-29
        22:06:58</controlid><uniqueid>true</uniqueid><dtdversion>-763667.927896293</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2025-07-16T05:21:54+00:00</sessiontimestamp><sessiontimeout>1974-04-24T05:12:19+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-WbfZX</function><controlid>-Fallback-scrubbed-uCJZoJUeoWklvrGwQLvZwzBIsoIzlztJlDia</controlid><data
        listtype="-Fallback-scrubbed-BugmtAnsbK" totalcount="3" offset="2122" count="9345"
        numremaining="2743"><APBILLITEM><RECORDNO>27161</RECORDNO></APBILLITEM></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.07'
    status:
      code: 200
      message: OK
[...]
