interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="bb320eb0-7324-44e7-aa1a-f153e8f0e868"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2011-08-30
        07:36:19</controlid><uniqueid>false</uniqueid><dtdversion>-6234.47341675602</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1999-10-04T04:49:55+00:00</sessiontimestamp><sessiontimeout>2001-09-16T08:06:02+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-WnVpVCEgEqOPc</function><controlid>-Fallback-scrubbed-YyzNUCOZQuPtTZbaFGONXPGGHmuomtgCtILh</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="07be1aa9-9c3a-4135-8959-19156821baf3"><query><object>EMPLOYEE</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>07/01/2025
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2011-08-30
        07:36:19</controlid><uniqueid>false</uniqueid><dtdversion>-6234.47341675602</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1971-12-16T20:31:15+00:00</sessiontimestamp><sessiontimeout>1973-02-25T00:28:23+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-LSlUe</function><controlid>-Fallback-scrubbed-elxRjqbjlMitWtXWNuROTKSuraMxQXkyjYXM</controlid><data
        listtype="-Fallback-scrubbed-haInlUCB" totalcount="1" offset="6556" count="9193"
        numremaining="6556"><EMPLOYEE><RECORDNO>23</RECORDNO></EMPLOYEE></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
