interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="7d61c1a0-137c-4e1d-b79b-3244d558fe8e"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1993-02-14
        08:54:55</controlid><uniqueid>false</uniqueid><dtdversion>-235223.734420895</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2023-08-22T05:29:16+00:00</sessiontimestamp><sessiontimeout>2008-08-11T14:11:48+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-jSQaXyEEqYxgV</function><controlid>-Fallback-scrubbed-deBckpPcgZSovDgfespetIlhrLQcvxjVJnGi</controlid><data><api><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="9b2bd2b0-9883-41fc-a498-c9316dc4ba8a"><query><object>EMPLOYEE</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>07/01/2025
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1993-02-14
        08:54:55</controlid><uniqueid>false</uniqueid><dtdversion>-235223.734420895</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1983-11-03T02:48:27+00:00</sessiontimestamp><sessiontimeout>1975-01-04T03:14:07+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-xupIJ</function><controlid>-Fallback-scrubbed-QpjuwxTLJGDPVNjUxBTJgFmxmnnamlajEaVB</controlid><data
        listtype="-Fallback-scrubbed-LxTWvVbz" totalcount="1" offset="8038" count="1184"
        numremaining="8038"><EMPLOYEE><RECORDNO>23</RECORDNO></EMPLOYEE></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
[...]
