interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="82c694d1-b4c9-413c-848d-75e08606315a"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1978-07-06
        13:04:02</controlid><uniqueid>false</uniqueid><dtdversion>463.588747274241</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2023-11-03T03:54:55+00:00</sessiontimestamp><sessiontimeout>2015-03-08T23:51:52+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-EAZZogrWwHBlg</function><controlid>-Fallback-scrubbed-puyMTnHIhAZKzUZEmQMwLItYizziVdWaqZln</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="4cf5eaa1-6d19-4d80-bdbc-e8377915cfe8"><query><object>GLDETAIL</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1978-07-06
        13:04:02</controlid><uniqueid>false</uniqueid><dtdversion>463.588747274241</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1979-04-03T17:07:28+00:00</sessiontimestamp><sessiontimeout>1987-01-01T06:45:00+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-KslhL</function><controlid>-Fallback-scrubbed-ZQxRuSdqOzGQBtsHZAEyJPtPkbcjItiGrAFV</controlid><data
        listtype="-Fallback-scrubbed-yUogsFye" totalcount="32" offset="5428" count="8159"
        numremaining="1742"><GLDETAIL><RECORDNO>3220-55186-27290--accrual</RECORDNO></GLDETAIL></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
