interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="c2add359-5c00-4b07-847f-05ed966bc356"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2021-12-29
        14:08:10</controlid><uniqueid>true</uniqueid><dtdversion>-850.304326080679</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1987-03-22T11:38:03+00:00</sessiontimestamp><sessiontimeout>1984-12-15T06:41:12+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-hVVlTBKOrHpKS</function><controlid>-Fallback-scrubbed-XBzgjFDXOJfujEVdYxSjbpjPNuTHHsSbNUCn</controlid><data><api><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.17'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="6307100c-590c-4d66-a312-164f9274b355"><query><object>GLDETAIL</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2021-12-29
        14:08:10</controlid><uniqueid>true</uniqueid><dtdversion>-850.304326080679</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1974-06-16T22:35:59+00:00</sessiontimestamp><sessiontimeout>1994-10-18T09:02:57+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-kmbwl</function><controlid>-Fallback-scrubbed-wZHoCAnRmfASuzlfokPqOvzLwselECVhDZTZ</controlid><data
        listtype="-Fallback-scrubbed-CahWogcS" totalcount="32" offset="6961" count="1321"
        numremaining="5814"><GLDETAIL><RECORDNO>3220-55186-27290--accrual</RECORDNO></GLDETAIL></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.04'
    status:
      code: 200
      message: OK
[...]
