interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="7934e1d3-6b34-42d0-90aa-ac3e87583283"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2021-07-10
        20:05:09</controlid><uniqueid>false</uniqueid><dtdversion>-8993090104.42701</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1990-08-11T23:00:13+00:00</sessiontimestamp><sessiontimeout>1982-02-13T19:23:04+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-cYyzWydPqToHp</function><controlid>-Fallback-scrubbed-GpsAWKpdWnpJgbDsFNnkSGKxKrHLNKIyeNKA</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="faf38b89-fafe-4859-8dfd-15cd302001a5"><query><object>GLDETAIL</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2021-07-10
        20:05:09</controlid><uniqueid>false</uniqueid><dtdversion>-8993090104.42701</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2018-08-25T06:56:07+00:00</sessiontimestamp><sessiontimeout>1985-10-01T04:41:17+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-yxyJG</function><controlid>-Fallback-scrubbed-AOjZLmPVYsClxgWsedXHaBTwSjkvDLJfsAWq</controlid><data
        listtype="-Fallback-scrubbed-joJwPayA" totalcount="32" offset="8301" count="6639"
        numremaining="2469"><GLDETAIL><RECORDNO>3220-55186-27290--accrual</RECORDNO></GLDETAIL></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
