interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="964c67dc-0cb6-4260-bfef-4063a4e0f42f"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2003-11-06
        05:44:30</controlid><uniqueid>false</uniqueid><dtdversion>4399785413.23853</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1990-01-21T16:57:09+00:00</sessiontimestamp><sessiontimeout>1975-08-08T11:09:39+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-PgxlEXxYwelVT</function><controlid>-Fallback-scrubbed-dsCHCmXhGOSSxUjwkbOqDShReZlSImjgerhy</controlid><data><api><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="02cef9ed-96dc-47d4-b00e-c37282a4bbe1"><query><object>VENDOR</object><select><field>VENDORID</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>08/14/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2003-11-06
        05:44:30</controlid><uniqueid>false</uniqueid><dtdversion>4399785413.23853</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2011-07-24T02:03:18+00:00</sessiontimestamp><sessiontimeout>2021-03-17T03:06:36+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-mEaPA</function><controlid>-Fallback-scrubbed-utAlWwYPvcFszSPkTPrdGkExRPUQfNAInROM</controlid><data
        listtype="-Fallback-scrubbed-IyMUvq" totalcount="20" offset="4875" count="8891"
        numremaining="3777"><VENDOR><VENDORID>EA-113830096</VENDORID></VENDOR></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.04'
    status:
      code: 200
      message: OK
[...]
