interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="775592cf-eba1-47ef-868c-02bff9ceb1d9"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2008-08-18
        17:17:39</controlid><uniqueid>false</uniqueid><dtdversion>25877467347.2536</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1986-07-15T12:36:50+00:00</sessiontimestamp><sessiontimeout>1978-06-16T20:43:03+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-qjlSeQrRPuTKb</function><controlid>-Fallback-scrubbed-gOiWLmtBVQmxXNeEJalQqiInRPYoElVJkxaB</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="49890ecc-8915-475e-a88c-dd415da81691"><query><object>VENDOR</object><select><field>VENDORID</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>08/14/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2008-08-18
        17:17:39</controlid><uniqueid>false</uniqueid><dtdversion>25877467347.2536</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2002-09-11T09:08:39+00:00</sessiontimestamp><sessiontimeout>2010-12-15T11:02:26+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-MlKZS</function><controlid>-Fallback-scrubbed-wSxyzUtgHiCbdEuhxFSAAFKkYfLoLVpGHwyA</controlid><data
        listtype="-Fallback-scrubbed-bJxXFA" totalcount="20" offset="1810" count="1236"
        numremaining="1770"><VENDOR><VENDORID>EA-113830096</VENDORID></VENDOR></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
