interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="b79e5ce2-df47-4633-86d9-fd6eeb6b0454"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2022-12-30
        04:44:18</controlid><uniqueid>true</uniqueid><dtdversion>7026393300.40501</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2014-09-18T16:54:09+00:00</sessiontimestamp><sessiontimeout>1971-07-13T18:51:51+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-OrzztMofiShzq</function><controlid>-Fallback-scrubbed-uTASTuKBtHdSQqpsuLNKHtEcfBgIzQRxCXDB</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="0d87f526-dd9a-4690-b17d-25e0beefc283"><query><object>VENDOR</object><select><field>VENDORID</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>08/14/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2022-12-30
        04:44:18</controlid><uniqueid>true</uniqueid><dtdversion>7026393300.40501</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1993-04-16T05:32:30+00:00</sessiontimestamp><sessiontimeout>1998-09-16T04:26:18+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-IIDdO</function><controlid>-Fallback-scrubbed-vURHXymEuhFxiHBJYbFCmMQzPooUniOYkNvz</controlid><data
        listtype="-Fallback-scrubbed-cTSjqJ" totalcount="20" offset="110" count="314"
        numremaining="2815"><VENDOR><VENDORID>EA-113830096</VENDORID></VENDOR></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.06'
    status:
      code: 200
      message: OK
[...]
