interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="99e6c0b4-d962-431a-84cb-c00d9022ede0"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1988-12-19
        19:44:39</controlid><uniqueid>true</uniqueid><dtdversion>122653512908.126</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1979-04-20T09:03:57+00:00</sessiontimestamp><sessiontimeout>2010-09-30T07:01:06+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-qVhrjwfQbBXzS</function><controlid>-Fallback-scrubbed-ddFjMqaoirCCcAfCWLBfCZSUUOmZybqJhASy</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="6b6184f4-edca-4212-bb0c-8b33ac80ac30"><query><object>SAVINGSACCOUNT</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>07/01/2025
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1988-12-19
        19:44:39</controlid><uniqueid>true</uniqueid><dtdversion>122653512908.126</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2022-02-10T11:38:31+00:00</sessiontimestamp><sessiontimeout>2011-12-08T21:38:23+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-aBjRU</function><controlid>-Fallback-scrubbed-QjmpOmYdCLEOeFYuBmSCRSbiwfgQreNaLRjE</controlid><data
        listtype="-Fallback-scrubbed-PLSAZqDgbOSpgu" totalcount="1" offset="1027"
        count="1477" numremaining="1027"><SAVINGSACCOUNT><RECORDNO>5</RECORDNO></SAVINGSACCOUNT></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.06'
    status:
      code: 200
      message: OK
[...]
