interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="5082b2fd-4c7c-49d9-aaf5-bf144fa45dd8"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2001-08-07
        19:53:09</controlid><uniqueid>true</uniqueid><dtdversion>-4993678.24874905</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1973-04-25T13:35:42+00:00</sessiontimestamp><sessiontimeout>2005-05-24T16:51:01+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-MfJugsNMqzPpf</function><controlid>-Fallback-scrubbed-hrRGCTbyPLjUBfnnnuXwOIQbbvOpmYxUfvfa</controlid><data><api><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="1878113b-24b3-41b1-b148-33726d09b75b"><getDimensions></getDimensions></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2001-08-07
        19:53:09</controlid><uniqueid>true</uniqueid><dtdversion>-4993678.24874905</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2021-12-22T13:47:28+00:00</sessiontimestamp><sessiontimeout>2000-08-17T02:00:41+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-CiceRtKIhrqFC</function><controlid>-Fallback-scrubbed-SWNmGKHThJyUezrxStmMuEoIpzWzZgLEoFnD</controlid><data><dimensions><dimension><objectName>DEPARTMENT</objectName><objectLabel>-Fallback-scrubbed-uweepygwLN</objectLabel><termLabel>-Fallback-scrubbed-uweepygwLN</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>false</enabledInGL></dimension><dimension><objectName>LOCATION</objectName><objectLabel>-Fallback-scrubbed-oqhKaAQC</objectLabel><termLabel>-Fallback-scrubbed-oqhKaAQC</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>false</enabledInGL></dimension><dimension><objectName>PROJECT</objectName><objectLabel>-Fallback-scrubbed-KNdVmvT</objectLabel><termLabel>-Fallback-scrubbed-KNdVmvT</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>false</enabledInGL>[...]
