interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="13c54b32-47c0-4874-8221-daab902a50b5"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2008-11-20
        03:04:26</controlid><uniqueid>false</uniqueid><dtdversion>-38748.468008477</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1997-05-18T17:24:16+00:00</sessiontimestamp><sessiontimeout>2012-11-19T06:52:22+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-SznUHlQQbmtqK</function><controlid>-Fallback-scrubbed-xqgGzmMDGKzwyBcawTWmDTldSczyMAuheqSj</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.03'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="e4044546-55d0-4204-8e9e-d6618dc295e8"><getDimensions></getDimensions></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2008-11-20
        03:04:26</controlid><uniqueid>false</uniqueid><dtdversion>-38748.468008477</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2012-09-11T03:38:15+00:00</sessiontimestamp><sessiontimeout>2016-02-22T07:26:32+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-vRRNCsPHULgPr</function><controlid>-Fallback-scrubbed-zzUBuqFygSeROmZUhvsuvVWghQCYVSIYzRjR</controlid><data><dimensions><dimension><objectName>DEPARTMENT</objectName><objectLabel>-Fallback-scrubbed-CpfjxOdoID</objectLabel><termLabel>-Fallback-scrubbed-CpfjxOdoID</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>false</enabledInGL></dimension><dimension><objectName>LOCATION</objectName><objectLabel>-Fallback-scrubbed-EuRmQJhS</objectLabel><termLabel>-Fallback-scrubbed-EuRmQJhS</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>false</enabledInGL></dimension><dimension><objectName>PROJECT</objectName><objectLabel>-Fallback-scrubbed-qxPUubZ</objectLabel><termLabel>-Fallback-scrubbed-qxPUubZ</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>false</enabledInGL>[...]
