interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="bb9a7b3a-1ae8-4ac1-bae1-dad0a250ccb4"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1977-08-17
        12:38:12</controlid><uniqueid>false</uniqueid><dtdversion>-0.28913634539851</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2010-04-12T05:44:46+00:00</sessiontimestamp><sessiontimeout>2008-10-31T19:31:27+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-YnzFtOIIIriPs</function><controlid>-Fallback-scrubbed-XHIqOMYlomkPbFsrbgtobfAbesgjzFOIFlfJ</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="d13c049d-34f7-4d14-8343-cb47abb64dbc"><getDimensions></getDimensions></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1977-08-17
        12:38:12</controlid><uniqueid>false</uniqueid><dtdversion>-0.28913634539851</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2010-04-12T05:44:46+00:00</sessiontimestamp><sessiontimeout>2008-10-31T19:31:27+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-UbFMrwZzqsPnM</function><controlid>-Fallback-scrubbed-tTziqXKdsFtcCEXJlmwypFJrkKKNViIfBjDg</controlid><data><dimensions><dimension><objectName>DEPARTMENT</objectName><objectLabel>-Fallback-scrubbed-WtMnHJrXsK</objectLabel><termLabel>-Fallback-scrubbed-WtMnHJrXsK</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>false</enabledInGL></dimension><dimension><objectName>LOCATION</objectName><objectLabel>-Fallback-scrubbed-PclbPWfU</objectLabel><termLabel>-Fallback-scrubbed-PclbPWfU</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>false</enabledInGL></dimension><dimension><objectName>PROJECT</objectName><objectLabel>-Fallback-scrubbed-hzqUMqs</objectLabel><termLabel>-Fallback-scrubbed-hzqUMqs</termLabel><userDefinedDimension>false</userDefinedDimension><enabledInGL>false</enabledInGL>[...]
