interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="038cd6e8-2bfd-4d78-95e1-e59d1d86666f"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2012-02-20
        08:05:34</controlid><uniqueid>true</uniqueid><dtdversion>67825620.5920114</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1980-10-12T06:31:24+00:00</sessiontimestamp><sessiontimeout>1989-02-16T05:44:12+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-TCnkNAnkDZTQv</function><controlid>-Fallback-scrubbed-PgScHggcTSIazKPRpaziHUEujwwtmTDhydXO</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="88f40e4f-4a15-437f-a6b2-8ad18884c37d"><query><object>GLENTRY</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>ENTRY_DATE</field><value>08/01/2026</value></greaterthanorequalto><lessthanorequalto><field>ENTRY_DATE</field><value>08/25/2026</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2012-02-20
        08:05:34</controlid><uniqueid>true</uniqueid><dtdversion>67825620.5920114</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1990-10-05T23:38:19+00:00</sessiontimestamp><sessiontimeout>1994-12-06T18:17:39+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-TZzzb</function><controlid>-Fallback-scrubbed-ToiPhAukvhMoAIyOTCBSOMeZkPLOGEhJgxzr</controlid><data
        listtype="-Fallback-scrubbed-PBaupSX" totalcount="12" offset="8622" count="2476"
        numremaining="8921"><GLENTRY><RECORDNO>55172</RECORDNO></GLENTRY></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
[...]
