interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="f34f1aec-1271-49d6-8ffb-825ec113e5a5"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1999-06-22
        18:25:11</controlid><uniqueid>true</uniqueid><dtdversion>176331565501.788</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1973-03-25T02:26:13+00:00</sessiontimestamp><sessiontimeout>2022-12-28T19:35:07+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-fEcOqBvDklFlS</function><controlid>-Fallback-scrubbed-arztxdSZQIsGImkIvHfNmlLMlPNVilzIngWT</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="0af55384-a1fd-4ca2-8da6-4d976357e739"><query><object>GLENTRY</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>ENTRY_DATE</field><value>08/01/2026</value></greaterthanorequalto><lessthanorequalto><field>ENTRY_DATE</field><value>08/25/2026</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1999-06-22
        18:25:11</controlid><uniqueid>true</uniqueid><dtdversion>176331565501.788</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1977-05-27T06:35:45+00:00</sessiontimestamp><sessiontimeout>1988-01-31T12:30:00+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-nxTwP</function><controlid>-Fallback-scrubbed-THiCwxnRKsbKxmJalNqVKGTqegSsFmANaSuu</controlid><data
        listtype="-Fallback-scrubbed-NZYkLgl" totalcount="12" offset="2519" count="9104"
        numremaining="7465"><GLENTRY><RECORDNO>55172</RECORDNO></GLENTRY></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
