interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="317a22b5-141e-4355-b07e-8357df72d34a"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2005-01-31
        23:35:42</controlid><uniqueid>false</uniqueid><dtdversion>787190912.79842</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1973-02-23T06:20:33+00:00</sessiontimestamp><sessiontimeout>1976-12-27T12:08:27+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-gTuVFJtbOmwwP</function><controlid>-Fallback-scrubbed-WxMlmJVDOViWgBgRKMVUwCNOYhkmjtdPHxFn</controlid><data><api><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.03'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="df283403-8465-456b-8b9b-1680d203a381"><query><object>GLENTRY</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>ENTRY_DATE</field><value>08/01/2026</value></greaterthanorequalto><lessthanorequalto><field>ENTRY_DATE</field><value>08/25/2026</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2005-01-31
        23:35:42</controlid><uniqueid>false</uniqueid><dtdversion>787190912.79842</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2021-06-22T00:47:56+00:00</sessiontimestamp><sessiontimeout>1980-09-04T14:15:08+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-GEepJ</function><controlid>-Fallback-scrubbed-CHsGxwtOukVQqYoJJJnAhuITIXZVAUIoVhVl</controlid><data
        listtype="-Fallback-scrubbed-cCuBjMf" totalcount="12" offset="4952" count="6522"
        numremaining="8464"><GLENTRY><RECORDNO>55172</RECORDNO></GLENTRY></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
[...]
