interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="f5116854-832c-46c5-b7fd-648d7e570bfd"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1979-09-29
        22:45:47</controlid><uniqueid>true</uniqueid><dtdversion>8.10884136388432</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1977-05-24T08:12:48+00:00</sessiontimestamp><sessiontimeout>1977-06-15T09:39:27+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-RKSydngWOlnrA</function><controlid>-Fallback-scrubbed-shlUFoEtrxOgalKRNkWmmxgeeeidvEJARcof</controlid><data><api><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="0293e203-7fd6-4b05-8698-9135482919b1"><query><object>ITEM</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1979-09-29
        22:45:47</controlid><uniqueid>true</uniqueid><dtdversion>8.10884136388432</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1975-01-02T07:02:23+00:00</sessiontimestamp><sessiontimeout>1988-06-24T04:56:58+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-wAYcn</function><controlid>-Fallback-scrubbed-gWUMpLNIaXaSAWtjCgzVpqPaLWFwTCHEtrYa</controlid><data
        listtype="-Fallback-scrubbed-Chah" totalcount="1" offset="3148" count="7398"
        numremaining="3148"><ITEM><RECORDNO>132</RECORDNO></ITEM></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
