interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="5e5006a0-5487-4f5b-a099-3c0226c9edf1"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1978-03-31
        23:11:39</controlid><uniqueid>false</uniqueid><dtdversion>-29724199.7851088</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2024-02-03T17:59:04+00:00</sessiontimestamp><sessiontimeout>2016-03-19T18:41:30+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-rkOpDnvnDuhfq</function><controlid>-Fallback-scrubbed-ZzthLaMFurCCballlDgmGYBRSxCuVlaLASUY</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="4f97404e-ecdf-4b1f-88e0-376899244d8a"><query><object>ITEM</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1978-03-31
        23:11:39</controlid><uniqueid>false</uniqueid><dtdversion>-29724199.7851088</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2024-02-03T17:59:04+00:00</sessiontimestamp><sessiontimeout>2016-03-19T18:41:30+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-ikVGU</function><controlid>-Fallback-scrubbed-drKfqNVKlTczWvXKSrDfCyPFCtiCDezqukOp</controlid><data
        listtype="-Fallback-scrubbed-UVfN" totalcount="1" offset="2072" count="7507"
        numremaining="2072"><ITEM><RECORDNO>132</RECORDNO></ITEM></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
