interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="234b5c7c-cb50-4656-b0ae-4628eea5493c"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1983-06-07
        00:40:54</controlid><uniqueid>true</uniqueid><dtdversion>-8920.55960551769</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2004-09-04T21:50:38+00:00</sessiontimestamp><sessiontimeout>1975-07-03T18:44:38+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-WpyhJbPGroOFy</function><controlid>-Fallback-scrubbed-crSFxUvbbgYszlKYOjlteUnxAyXAwmWhXRDj</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="5cf1930f-69c2-417e-9677-94d7482e28c1"><query><object>PROJECT</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>07/01/2025
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1983-06-07
        00:40:54</controlid><uniqueid>true</uniqueid><dtdversion>-8920.55960551769</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1999-05-20T21:27:54+00:00</sessiontimestamp><sessiontimeout>2008-11-10T15:41:15+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-secNJ</function><controlid>-Fallback-scrubbed-ifYXSrCrRJpokJpYxbxjZKeJVmefmzgMUeBo</controlid><data
        listtype="-Fallback-scrubbed-KtOtXxr" totalcount="1" offset="7645" count="5560"
        numremaining="7645"><PROJECT><RECORDNO>17</RECORDNO></PROJECT></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.09'
    status:
      code: 200
      message: OK
[...]
