interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="87d8dd8d-6a99-40cd-bf19-8bdb837b179a"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2004-09-24
        02:20:18</controlid><uniqueid>true</uniqueid><dtdversion>196503661719.386</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2005-12-11T12:26:23+00:00</sessiontimestamp><sessiontimeout>1993-05-13T03:58:39+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-KwyPoNhvAzWof</function><controlid>-Fallback-scrubbed-ruSmAhTLFaKrbvLcCeQeKrxKGBUYbNMqENdD</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="cb039e64-fc54-4476-ac27-0ac1cd79cd82"><query><object>CUSTOMER</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2004-09-24
        02:20:18</controlid><uniqueid>true</uniqueid><dtdversion>196503661719.386</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2017-12-13T16:56:16+00:00</sessiontimestamp><sessiontimeout>2010-03-30T23:17:44+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-GbNfI</function><controlid>-Fallback-scrubbed-ortfAKnFumPLcCjgXWAGkwXeGmcnEVfbVzbG</controlid><data
        listtype="-Fallback-scrubbed-eiLKwUTC" totalcount="6" offset="8793" count="9031"
        numremaining="1747"><CUSTOMER><RECORDNO>56</RECORDNO></CUSTOMER></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
