interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="a52f0e79-e831-4b77-826b-f07eb30b5d5e"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2019-08-19
        21:08:05</controlid><uniqueid>true</uniqueid><dtdversion>-968508354699.24</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2004-12-22T16:25:44+00:00</sessiontimestamp><sessiontimeout>2016-07-17T07:38:59+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-MuVXaXrlCzNcf</function><controlid>-Fallback-scrubbed-VTVKCfVRkGSHuAIIVsZLjhbjaKjGiHdgqYLA</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="1785b3f2-152f-4676-972a-408c603b336e"><query><object>CLASS</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2019-08-19
        21:08:05</controlid><uniqueid>true</uniqueid><dtdversion>-968508354699.24</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2011-06-14T11:04:17+00:00</sessiontimestamp><sessiontimeout>1993-08-06T12:51:12+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-erOlx</function><controlid>-Fallback-scrubbed-yERZLkfBUKLTCZkibcpmTSXLqSZydUShjRcS</controlid><data
        listtype="-Fallback-scrubbed-MqhVi" totalcount="14" offset="549" count="3623"
        numremaining="5003"><CLASS><RECORDNO>3</RECORDNO></CLASS></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.03'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="682f8328-192b-468d-8056-6fedf3fd3660"><query><object>CLASS</object><select><field>RECORDNO</field><field>CLASSID</field><field>NAME</field><field>DESCRIPTION</field><field>STATUS</field><field>PARENTKEY</field><field>PARENTID</field><field>WHENCREATED</field><field>WHENMODIFIED</field><field>CREATEDBY</field><field>MODIFIEDBY</field><field>CREATEDBYLOGINID</field><field>MODIFIEDBYLOGINID</field><field>MEGAENTITYKEY</field><field>MEGAENTITYID</field><field>MEGAENTITYNAME</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2019-08-19
        21:08:05</controlid><uniqueid>true</uniqueid><dtdversion>-968508354699.24</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1989-05-07T15:54:01+00:00</sessiontimestamp><sessiontimeout>2012-11-04T05:18:30+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-erOlx</function><controlid>-Fallback-scrubbed-VzIuZJeGDNgXMYRqgIPquCWzBAYGGjXiHztp</controlid><data
        listtype="-Fallback-scrubbed-MqhVi" totalcount="14" offset="549" count="5080"
        numremaining="549"><CLASS><RECORDNO>7</RECORDNO><CLASSID>9905</CLASSID><NAME>Fake-Justin
        Allen</NAME><DESCRIPTION>Fake-Justin Allen</DESCRIPTION><STATUS>active</STATUS><PARENTKEY>1169</PARENTKEY><PARENTID>9805</PARENTID><WHENCREATED>09/02/1975
        08:27:12</WHENCREATED><WHENMODIFIED>10/06/2025 19:41:50</WHENMODIFIED><CREATEDBY>416</CREATEDBY><MODIFIEDBY>416</MODIFIEDBY><CREATEDBYLOGINID>-Fallback-scrubbed-eIyP</CREATEDBYLOGINID><MODIFIEDBYLOGINID>-Fallback-scrubbed-eIyP</MODIFIEDBYLOGINID><MEGAENTITYKEY>3623</MEGAENTITYKEY><MEGAENTITYID>5434</MEGAENTITYID><MEGAENTITYNAME>-Fallback-scrubbed-pPyO</MEGAENTITYNAME><RECORD_URL>-Fallback-scrubbed-asBxrdJDpgNVqBjzijFrxzctmTqAdlMzKifjTbQqEmdUCLusjDYPNubMemBiorVbDNdcydYEASEcXPLuSaXmgPB</RECORD_URL></CLASS><CLASS><RECORDNO>4</RECORDNO><CLASSID>7451</CLASSID><NAME>Fake-Mary
        Brooks</NAME><DESCRIPTION>Fake-Mary Brooks</DESCRIPTION><STATUS>active</STATUS><PARENTKEY>3623</PARENTKEY><PARENTID>5434</PARENTID><WHENCREATED>03/13/1986
        17:38:56</WHENCREATED><WHENMODIFIED>10/06/2025 19:22:53</WHENMODIFIED><CREATEDBY>416</CREATEDBY><MODIFIEDBY>416</MODIFIEDBY><CREATEDBY[...]
[...]
