interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="3f495cf6-d61b-42cf-a335-a349c497abc4"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>-Fa***</senderid><controlid>-Fallback-scrubbed-DpyHUxiRMycvYnrbrtT</controlid><uniqueid>-Fallback-scrubbed-DwPle</uniqueid><dtdversion>-5018449.66055182</dtdversion></control><operation><authentication><status>success</status><userid>-Fa***</userid><companyid>-Fa***</companyid><locationid></locationid><sessiontimestamp>-Fallback-scrubbed-TYwHzxbWBhQTMUKOCKdFVURdM</sessiontimestamp><sessiontimeout>-Fallback-scrubbed-ZluZmiUKidguWWvhmYQPFCFNM</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-mmowrGlYONgxJ</function><controlid>-Fallback-scrubbed-gTClNsaKsCTVpLtTftdTCyKfOvNWxmNkysNB</controlid><data><api><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="16cfd264-aed5-46f8-b51a-45169fdb978a"><query><object>CLASS</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>-Fa***</senderid><controlid>-Fallback-scrubbed-DpyHUxiRMycvYnrbrtT</controlid><uniqueid>-Fallback-scrubbed-DwPle</uniqueid><dtdversion>-5018449.66055182</dtdversion></control><operation><authentication><status>success</status><userid>-Fa***</userid><companyid>-Fa***</companyid><locationid></locationid><sessiontimestamp>-Fallback-scrubbed-tBPqyKTLNZOFRSezTXAlXOakK</sessiontimestamp><sessiontimeout>-Fallback-scrubbed-pyOkNnbAzVmMsddXDSvRYNtFi</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-TIlNK</function><controlid>-Fallback-scrubbed-roHBDpZgHgLimWyfeKsvPhVRgMvtZuWncEze</controlid><data
        listtype="-Fallback-scrubbed-QrfET" totalcount="14" offset="235" count="8138"
        numremaining="447"><CLASS><RECORDNO>383</RECORDNO></CLASS></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="6d0fbabb-b963-4508-9a0c-189b9987a5d4"><query><object>CLASS</object><select><field>RECORDNO</field><field>CLASSID</field><field>NAME</field><field>DESCRIPTION</field><field>STATUS</field><field>PARENTKEY</field><field>PARENTID</field><field>WHENCREATED</field><field>WHENMODIFIED</field><field>CREATEDBY</field><field>MODIFIEDBY</field><field>CREATEDBYLOGINID</field><field>MODIFIEDBYLOGINID</field><field>MEGAENTITYKEY</field><field>MEGAENTITYID</field><field>MEGAENTITYNAME</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>-Fa***</senderid><controlid>-Fallback-scrubbed-DpyHUxiRMycvYnrbrtT</controlid><uniqueid>-Fallback-scrubbed-DwPle</uniqueid><dtdversion>-5018449.66055182</dtdversion></control><operation><authentication><status>success</status><userid>-Fa***</userid><companyid>-Fa***</companyid><locationid></locationid><sessiontimestamp>-Fallback-scrubbed-ROCqvULNcaHDXHSFjtubPLPXP</sessiontimestamp><sessiontimeout>-Fallback-scrubbed-tHUxkbeaMPxUnGKFTPmTFiaoz</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-TIlNK</function><controlid>-Fallback-scrubbed-pKqFIWcpMhhegNbqrDKsOXbzjAWCHxGrDLqM</controlid><data
        listtype="-Fallback-scrubbed-QrfET" totalcount="14" offset="235" count="890"
        numremaining="235"><CLASS><RECORDNO>9446</RECORDNO><CLASSID>3097</CLASSID><NAME>Keith
        Lee</NAME><DESCRIPTION>Keith Lee</DESCRIPTION><STATUS>-Fallback-scrubbed-cDwHni</STATUS><PARENTKEY>1122</PARENTKEY><PARENTID>3948</PARENTID><WHENCREATED>10/06/2025
        19:41:50</WHENCREATED><WHENMODIFIED>10/06/2025 19:41:50</WHENMODIFIED><CREATEDBY>5002</CREATEDBY><MODIFIEDBY>5002</MODIFIEDBY><CREATEDBYLOGINID>-Fallback-scrubbed-CZXn</CREATEDBYLOGINID><MODIFIEDBYLOGINID>-Fallback-scrubbed-CZXn</MODIFIEDBYLOGINID><MEGAENTITYKEY>8138</MEGAENTITYKEY><MEGAENTITYID>1623</MEGAENTITYID><MEGAENTITYNAME>-Fallback-scrubbed-vUvL</MEGAENTITYNAME><RECORD_URL>-Fallback-scrubbed-SqMZFjkSowrlBeCFtYYRcfdgLgyAjUvmpvDYGMtdbKMsANJwwXtHOFufTKMyNGoHuXBQmyHhuvHVtDQLkgpttFK</RECORD_URL></CLASS><CLASS><RECORDNO>8463</RECORDNO><CLASSID>774</CLASSID><NAME>Cassandra
        Lopez</NAME><DESCRIPTION>Cassandra Lopez</DESCRIPTION><STATUS>-Fallback-scrubbed-cDwHni</STATUS><PARENTKEY>8138</PARENTKEY><PARENTID>1623</PARENTID><WHENCREATED>10/06/2025
        19:22:53</WHENCREATED><WHENMODIFIED>10/06/2025 19:22:53</WHENMODIFIED><CREATEDBY>5002</CREATEDBY><MODIFIEDBY>5002</[...]
[...]
