interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="ce68446b-de9a-42b1-ba4c-6eeae7e46e9a"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1986-04-18
        23:10:23</controlid><uniqueid>false</uniqueid><dtdversion>56117196.6762199</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2011-10-15T23:07:36+00:00</sessiontimestamp><sessiontimeout>1995-05-21T18:19:13+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-fCaPKSOxUEKFw</function><controlid>-Fallback-scrubbed-unDtwikdyZRHxlXUuVPorzpLMWNoQztLxzuG</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="83081dd7-b027-4a1a-ac76-9dcc834bad90"><query><object>CLASS</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1986-04-18
        23:10:23</controlid><uniqueid>false</uniqueid><dtdversion>56117196.6762199</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2011-10-15T23:07:36+00:00</sessiontimestamp><sessiontimeout>1995-05-21T18:19:13+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-vnchP</function><controlid>-Fallback-scrubbed-iobYYnPppXUKOaRqagcqkZZoPpIXVnqtgjHg</controlid><data
        listtype="-Fallback-scrubbed-pPhaC" totalcount="14" offset="9604" count="1651"
        numremaining="9246"><CLASS><RECORDNO>3</RECORDNO></CLASS></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="099bf1e2-62f7-42f0-a4c2-c2038cbe0231"><query><object>CLASS</object><select><field>RECORDNO</field><field>CLASSID</field><field>NAME</field><field>DESCRIPTION</field><field>STATUS</field><field>PARENTKEY</field><field>PARENTID</field><field>WHENCREATED</field><field>WHENMODIFIED</field><field>CREATEDBY</field><field>MODIFIEDBY</field><field>CREATEDBYLOGINID</field><field>MODIFIEDBYLOGINID</field><field>MEGAENTITYKEY</field><field>MEGAENTITYID</field><field>MEGAENTITYNAME</field><field>RECORD_URL</field></select><options><showprivate>true</showprivate></options><pagesize>1000</pagesize><offset>0</offset><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2000
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1986-04-18
        23:10:23</controlid><uniqueid>false</uniqueid><dtdversion>56117196.6762199</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2000-02-22T02:35:04+00:00</sessiontimestamp><sessiontimeout>1989-01-31T14:59:20+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-vnchP</function><controlid>-Fallback-scrubbed-JwNghteaerLKkGSIKbODwpxxbdRJqQbpWHGH</controlid><data
        listtype="-Fallback-scrubbed-pPhaC" totalcount="14" offset="9604" count="8051"
        numremaining="9604"><CLASS><RECORDNO>7</RECORDNO><CLASSID>2363</CLASSID><NAME>Fake-Russell
        Martinez</NAME><DESCRIPTION>Fake-Russell Martinez</DESCRIPTION><STATUS>active</STATUS><PARENTKEY>5631</PARENTKEY><PARENTID>6247</PARENTID><WHENCREATED>11/09/1985
        15:50:24</WHENCREATED><WHENMODIFIED>10/06/2025 19:41:50</WHENMODIFIED><CREATEDBY>7842</CREATEDBY><MODIFIEDBY>7842</MODIFIEDBY><CREATEDBYLOGINID>-Fallback-scrubbed-OTMn</CREATEDBYLOGINID><MODIFIEDBYLOGINID>-Fallback-scrubbed-OTMn</MODIFIEDBYLOGINID><MEGAENTITYKEY>1651</MEGAENTITYKEY><MEGAENTITYID>4680</MEGAENTITYID><MEGAENTITYNAME>-Fallback-scrubbed-pMtE</MEGAENTITYNAME><RECORD_URL>-Fallback-scrubbed-pReyJLtkEkehuuYAdgIXRksEjbLhiiQBIzqpXQDogiundorywsOhbDPkjmtFOnnetYVfHKHvPfDxuObKassszjx</RECORD_URL></CLASS><CLASS><RECORDNO>4</RECORDNO><CLASSID>4768</CLASSID><NAME>Fake-Shane
        Elliott</NAME><DESCRIPTION>Fake-Shane Elliott</DESCRIPTION><STATUS>active</STATUS><PARENTKEY>1651</PARENTKEY><PARENTID>4680</PARENTID><WHENCREATED>10/06/1993
        22:37:39</WHENCREATED><WHENMODIFIED>10/06/2025 19:22:53</WHENMODIFIED><CREATEDBY>7842</CREATEDBY><MODIFIEDBY>7842</MODIFIEDBY><CRE[...]
[...]
