interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="18a29223-472d-43db-8190-1d09d8c0da99"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1976-08-23
        12:54:00</controlid><uniqueid>false</uniqueid><dtdversion>29078883263939.6</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1971-08-08T01:29:19+00:00</sessiontimestamp><sessiontimeout>2020-12-05T01:42:53+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-MXMiHpFjVKblx</function><controlid>-Fallback-scrubbed-ZwQZviqGyvijAgIJKMtQtDTeySmIAlsuqNXK</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="00f8b589-5d8a-4180-9724-c5f52df59ca7"><query><object>APPYMT</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1976-08-23
        12:54:00</controlid><uniqueid>false</uniqueid><dtdversion>29078883263939.6</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1983-02-02T05:10:38+00:00</sessiontimestamp><sessiontimeout>1985-09-28T10:28:31+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-WiBJg</function><controlid>-Fallback-scrubbed-dMjJpEJajzVZdaoQIYzeucqUROBrFbHQNBBa</controlid><data
        listtype="-Fallback-scrubbed-IKFMmk" totalcount="8" offset="7566" count="914"
        numremaining="9373"><APPYMT><RECORDNO>1863</RECORDNO></APPYMT></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
