interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="b9b4a4d5-5cff-4cdf-9b01-1ce1336bc937"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1979-07-20
        05:32:49</controlid><uniqueid>false</uniqueid><dtdversion>-23648605268.832</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1970-02-09T10:02:28+00:00</sessiontimestamp><sessiontimeout>1972-04-29T14:01:30+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-WgPTfKBPgziIJ</function><controlid>-Fallback-scrubbed-TEARbkGkmiXAayGRMlDtKDUBSmusTDOLYdlM</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="a9f95cb5-0016-4566-b80c-e72cf2f14bba"><query><object>GLACCOUNT</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1979-07-20
        05:32:49</controlid><uniqueid>false</uniqueid><dtdversion>-23648605268.832</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1975-07-04T03:25:34+00:00</sessiontimestamp><sessiontimeout>1980-05-03T03:14:28+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-xopIu</function><controlid>-Fallback-scrubbed-pziTrOvwshQFWBhYErIWhxTDkiciWnwGaFHA</controlid><data
        listtype="-Fallback-scrubbed-erpKThSCZ" totalcount="4" offset="6954" count="1678"
        numremaining="5276"><GLACCOUNT><RECORDNO>1</RECORDNO></GLACCOUNT></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
