interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="7e7aefab-b236-4e64-b8d5-d5fa0214d529"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1995-09-20
        23:57:13</controlid><uniqueid>true</uniqueid><dtdversion>766.947179252106</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2013-07-03T13:11:35+00:00</sessiontimestamp><sessiontimeout>2018-02-28T10:19:12+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-GrSgMqSRDmHFS</function><controlid>-Fallback-scrubbed-zkremPkeAOLZNcvCxYZKBMkpVkwUoFUVlKzo</controlid><data><api><sessionid>f6j***</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>f6j***</sessionid></authentication><content><function
      controlid="347e2f37-6c08-486b-bdc6-036dde8697d2"><query><object>APADJUSTMENTITEM</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>1995-09-20
        23:57:13</controlid><uniqueid>true</uniqueid><dtdversion>766.947179252106</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2018-11-29T08:44:29+00:00</sessiontimestamp><sessiontimeout>2019-10-18T23:55:32+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-lrXau</function><controlid>-Fallback-scrubbed-rNblJRwsvgJZrEitkbZobdUuOWpMunUHZGIv</controlid><data
        listtype="-Fallback-scrubbed-mXurWjBZAWUlAUAr" totalcount="20" offset="8032"
        count="3858" numremaining="3760"><APADJUSTMENTITEM><RECORDNO>7910</RECORDNO></APADJUSTMENTITEM></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
[...]
