interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="d91a0a14-598d-4250-b7c5-fe34d0427121"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>-Fallback-scrubbed-oFSdOIeTcbPQTIWZPds</controlid><uniqueid>-Fallback-scrubbed-FnAcj</uniqueid><dtdversion>45482094710.6726</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>-Fallback-scrubbed-KnBYPgokeXvJULlfzlhgNThar</sessiontimestamp><sessiontimeout>-Fallback-scrubbed-ubFEEAEkkahuVUtzPrHkcmFuF</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-lxzAopWURaWUN</function><controlid>-Fallback-scrubbed-pPHLvbwMMWStThpJhLbxYfEQwyEcQfnHbSdP</controlid><data><api><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.03'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>yj-XmlpO51PJ9g_HNZbAP6ZKU8gy7so-_ky-_Vp2yfYPhzWWwC-jDx-J</sessionid></authentication><content><function
      controlid="2bce6a70-29f8-4ba1-9286-f7281bae886c"><query><object>APADJUSTMENTITEM</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>-Fallback-scrubbed-oFSdOIeTcbPQTIWZPds</controlid><uniqueid>-Fallback-scrubbed-FnAcj</uniqueid><dtdversion>45482094710.6726</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>-Fallback-scrubbed-WkCndLgyNzgrUTkMkGnITJECp</sessiontimestamp><sessiontimeout>-Fallback-scrubbed-zzSLnTGOozhjjgRaTYGjBwvbz</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-XHmft</function><controlid>-Fallback-scrubbed-qZggjlKPCSOAUjXDAkLYItUpDxABmPZwqnwn</controlid><data
        listtype="-Fallback-scrubbed-IyyUgCNpAWnZRIpE" totalcount="20" offset="5836"
        count="5234" numremaining="8317"><APADJUSTMENTITEM><RECORDNO>27063</RECORDNO></APADJUSTMENTITEM></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.07'
    status:
      code: 200
      message: OK
[...]
