interactions:
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><login><userid>emm***</userid><companyid>hot***</companyid><password>fbq***</password></login></authentication><content><function
      controlid="63360892-11c9-4cbc-9659-99d175d4e75f"><getAPISession></getAPISession></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2013-11-02
        20:11:13</controlid><uniqueid>false</uniqueid><dtdversion>-90421678501594.5</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>2012-04-28T10:09:58+00:00</sessiontimestamp><sessiontimeout>2016-06-09T17:27:44+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-aAgPeRMfBdhcD</function><controlid>-Fallback-scrubbed-XVRaYVImaWPdeQHtLEdRuoZdVMTTJHXcoYbH</controlid><data><api><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid><endpoint>https://api.intacct.com/ia/xml/xmlgw.phtml</endpoint><locationid></locationid></api></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.01'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="utf-8"?>

      <request><control><senderid>hot***</senderid><password>yav***</password><controlid>2026-08-25
      19:00:00</controlid><uniqueid>false</uniqueid><dtdversion>3.0</dtdversion><includewhitespace>false</includewhitespace></control><operation><authentication><sessionid>afntE0rlsr2a7knmElgirA0fvZsqqGn5wMWvUg_Ymu5J5hJYIrxIWvGa</sessionid></authentication><content><function
      controlid="eca799fc-ea79-4d07-a219-fb5c0bfb4cc0"><query><object>APADJUSTMENTITEM</object><select><field>RECORDNO</field></select><pagesize>1</pagesize><options><showprivate>true</showprivate></options><filter><and><greaterthanorequalto><field>WHENMODIFIED</field><value>01/01/2026
      00:00:01</value></greaterthanorequalto><lessthanorequalto><field>WHENMODIFIED</field><value>08/25/2026
      19:00:00</value></lessthanorequalto></and></filter></query></function></content></operation></request>'
    headers:
      content-type:
      - application/xml
    method: POST
    uri: https://api.intacct.com/ia/xml/xmlgw.phtml
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?>

        <response><control><status>success</status><senderid>hot***</senderid><controlid>2013-11-02
        20:11:13</controlid><uniqueid>false</uniqueid><dtdversion>-90421678501594.5</dtdversion></control><operation><authentication><status>success</status><userid>emm***</userid><companyid>hot***</companyid><locationid></locationid><sessiontimestamp>1971-10-02T21:22:41+00:00</sessiontimestamp><sessiontimeout>2010-10-31T07:26:27+00:00</sessiontimeout></authentication><result><status>success</status><function>-Fallback-scrubbed-GZycW</function><controlid>-Fallback-scrubbed-cpuiEaPszngWMUKxFjGasBQLymlxnLyWFbYm</controlid><data
        listtype="-Fallback-scrubbed-yjzlQofZyYdBrYej" totalcount="20" offset="8416"
        count="191" numremaining="2566"><APADJUSTMENTITEM><RECORDNO>7910</RECORDNO></APADJUSTMENTITEM></data></result></operation></response>'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/xml; encoding="UTF-8";charset=UTF-8
      X-Ia-Th:
      - '0.02'
    status:
      code: 200
      message: OK
[...]
